<% include inc/head %>
<%
  var title = '结佣详情'
%>
<% include inc/top %>

<section class="page-content container content-interests content-item">
    <ul>
       


<li class="recrecord_list_box">

            <h1><%= obj.statusName %></h1>
            <p><span>被推荐人</span><%= obj.recName %></p>
            <p><span>推荐状态</span>已签约</p>

            <% if(obj.bankName != ''){%>
            <p><span>开户行</span><%= obj.bankName %></p>
            <%}%>
            <% if(obj.cardNo != ''){%>
            <p><span>卡&nbsp;&nbsp;号</span><%= obj.cardNo %></p>
            <%}%>

            <% if(obj.trueName != ''){%>
            <p><span>姓&nbsp;&nbsp;名</span><%= obj.trueName %></p>
             <%}%>

            <% if(obj.idNumber != ''){%>
            <p><span>身份证</span><%= obj.idNumber %></p>
             <%}%>

            <% if(obj.cash != 0){%>
            <p><span>获得佣金</span><%= obj.cash %>元</p>
            <%}%>

            <% if(obj.comment != ''){%>
            <p><span>留&nbsp;&nbsp;言</span></p>
         	  <p><%= obj.comment %></p>
            <%}%>

</li>


    </ul>
  </section>



<% include inc/foot %>