<div class="head clearfix">
   <nav>
	<a href="/view/user/recommend?wxuserid=<%= userObj._id %>"><img src="/static/images/nav_01.png" alt=""></a>
	<a href="/view/user/scorelist?wxuserid=<%= userObj._id %>"><img src="/static/images/nav_02.png" alt=""></a>
	<a href="/view/user/scorerule?wxuserid=<%= userObj._id %>"><img src="/static/images/nav_03.png" alt=""></a>
	<a href="/view/shop/shoplist?wxuserid=<%= userObj._id %>"><img src="/static/images/nav_04.png" alt=""></a>
	</nav>
</div>
<article style="display: block;" class="articleList">
    <div class="comment_title sTitle">
        <%= userObj.appUserName %>，当前积分(<span class="replyCount"><%= userObj.appUserScore %></span>分)
    </div>
</article>