<article class="topNews topNews2">
    <nav>
        <ul id="my_nav">
            <li type="1" class="pd42">
                <div>
                    <a href="/view/user/modify?wxuserid=<%= userObj._id %>">主页</a>
                    <div class="navHint"></div>
                </div>
            </li>
            <li type="2" class="pd42">
                <div><a href="/view/user/mycomment?wxuserid=<%= userObj._id %>">评论</a>
                    <div class="navHint"></div>
                </div>
            </li>
            <li type="3" class="pd42">
                <div><a href="/view/user/myfavor?wxuserid=<%= userObj._id %>">收藏</a>
                    <div class="navHint"></div>
                </div>
            </li>
            <li type="4" class="pd42">
                <div><a href="/view/user/myorder?wxuserid=<%= userObj._id %>">订单</a>
                    <div class="navHint"></div>
                </div>
            </li>
            <!--
                <li type="5" class="pd42">
                    <div><a href="/view/shop/salelist?wxuserid=<%= userObj._id %>">拍卖</a>
                        <div class="navHint"></div>
                    </div>
                </li>
            -->
        </ul>
    </nav>
</article>