<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=0.67,maximum-scale=0.67,user-scalable=no;"/>
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no">

<!--打开弹出输入框，只能抽1次，中奖奖品在弹出层体现-->

<title>合众抽奖</title>
<link rel="stylesheet" href="http://wzzy2014skin.qiniudn.com/bootstrap/css/bootstrap.min.css">
<script src="http://wzzy2014skin.qiniudn.com/js/jquery.1.11.1.min.js" type="text/javascript"></script>
<script src="http://www.6998cdn.com/uc55_2014/js/jquery.cookie.js"  type="text/javascript"></script>
<script src="http://wzzy2014skin.qiniudn.com/bootstrap/js/bootstrap.min.js"></script>

<link href="http://bcs.duapp.com/xytimg/zp%2Factivity-style.css" rel="stylesheet" type="text/css">
<script src="http://wzhfile.qiniudn.com/moment.js" type="text/javascript"></script>




</head>
<style type="text/css">


</style>
<body>
<div class="body_wrap">



</div>

<script type="text/javascript">





//遮照功能
var maskObj = $('#mask');
var mask = function () {        
        if(maskObj.is(':visible')){
            maskObj.hide();
        }
        else{
            maskObj.show();
        }
}
//遮照功能









var lotteryid = '<%= lotteryObj._id %>'
var userid = '<%= userid%>'
var appId = '<%= appId%>'
var u_username = '<%= wxuobj.appUserName %>'
var u_mobile = '<%= wxuobj.appUserMobile %>'
var appUserName = u_username
var appUserMobile = u_mobile 

window.isAjaxing = false

$(function(){


  


  var getMyPrize = function(){

      if(user_v == '未认证会员'){
          $('#appUserName').val('');
      }
      if(mobile_v.length != 11){
          $('#appUserMobile').val('');
      }

      window.lotteryData = {};

       $.get('/lottery/<%= appEname%>/info?ename=<%= lotteryEname%>',{},function(d){
        if(d.error == 1){
          return alert(d.data)
        }
            window.lotteryData = d.data;
            work(d.data)
            doshare()

        },'json')

        var work = function(data){

               $('#modify_info').click(function(){
                  $('#myModal').modal({
                      backdrop:false
                    })
               })

               if((window.lotteryData.record.length<6 && $.cookie('has_modify_info') != '1') 
                ||
                ( u_username == '未认证会员' || u_mobile.length != 11)
                ){
                  $('#myModal').modal({
                      backdrop:false
                    })
               }

               
           //put my prize
             var tmp_s = ''
           
           

             window.myPrizeName = false
             if(data.record.length > 0){

              
             }
               $('#prize_list').html(tmp_s)
               //end pu prize
                        
     }
  }



  $('.lottery_btn').click(function(){
          if(window.isAjaxing) return
          window.isAjaxing = true
           $.ajax({
              url: "/lottery/<%= appEname%>/start?ename=<%= lotteryEname%>",
              dataType: "json",
              type:'POST',
              data: {
                 lotteryId:lotteryid
              },
              beforeSend: function() {
               
              },
              success: function(d) {
                  window.isAjaxing = false
                  if(d.error == 1){
                     return alert(d.data)
                  }
                  if(d.data.prizeId == 0){
                    return alert('很遗憾没有中奖')
                  }
                  else{
                    return alert(d.data.name)
                  }
              },
              error: function() {
                  window.isAjaxing = false
                  alert('抽奖失败，请重试')
              },
              timeout: 5000
            })
  })

})

</script> 


<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
<script src="/api/xinyutang/jsconfig?url=<%= jsurl %>" type="text/javascript"></script>

<script>


    //部署上生产环境，把alert去掉

  if(window.jsticket_error=='1'){

  }
  if(window.jsticket_error=='0'){
      
      wx.config(window.jsconfig);
      wx.ready(function(){

        wx.hideOptionMenu();
      });
      wx.error(function(res){

      });
  }




</script> 




























 






<div style="display:none;">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F4d70084ab8a23d1e8e76861a9553677d' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>

</body>


</html>