<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0"/>
    <meta content="no-cache" http-equiv="Pragma"></meta>
    <meta content="no-cache" http-equiv="Cache-Control"></meta>
    <meta name="format-detection" content="telephone=no" />
    <meta content="0" http-equiv="Expires"></meta>
    <title>抽奖活动</title>
    <script src="http://wzzy2014skin.qiniudn.com/js/jquery.1.11.1.min.js" type="text/javascript"></script>
    <script src="http://wzzy2014skin.qiniudn.com/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://wzhfile.qiniudn.com/moment.js" type="text/javascript"></script>
    <link rel="stylesheet" href="http://wzzy2014skin.qiniudn.com/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://piccvote.qiniudn.com/lottery/card.css?v=20150419">
    <style type="text/css">
    .mask_box {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: none;
background-color: #000;
filter: alpha(Opacity=90);
-moz-opacity: 0.90;
opacity: 0.90;
z-index: 99999;
}
.mask_box img{
    display: block;
    position: absolute;
    right: 0;
    top:0;
}
      .prizeDialog {
        background: url(http://piccvote.qiniudn.com/lottery/imgs/prizeDialog2.png) no-repeat;
        }
        .getCode.disable {
          background: #ddd;
          border-radius: 4px;
          font-size: 18px;
          color: #888;
          line-height: 30px;
          }

        .prizeNameBox{
        position: absolute;
        text-align: center;
        width: 100%;
        bottom: 23%;
        font-family: "微软雅黑";
        color: #fff;
        }
    </style>
  </head>
<body>

  <div class="wrapper activityWrapper">
    <div class="box">
      <div class="boxWrapper"></div>
    </div>
    <div class="box">
      <div class="boxWrapper"></div>
    </div>
    <div class="box">
      <div class="boxWrapper"></div>
    </div>

    <div class="nomalTip tip"></div>
    <div class="prizeTip tip"></div>
    <div class="noPrizeTip tip"></div>
  </div>

  <div id="dialogModal" class="modal">
    <div class="dialog">
      <img class="dialogBox" src="http://piccvote.qiniudn.com/lottery/imgs/box.png" alt="">
      <input type="text" class="nameText" maxlength="10">
      <input type="text" class="telText" maxlength="11">
      <input type="text" class="codeText" maxlength="6">
      <span class="getCode" ></span>
      <input class="submitBtn" type="button">   
    </div>
  </div>

  <div id="prizeModal" class="modal">
    <div class="prizeDialog dialogObj">
      <a class="prizeBtn dialogBtn" href=""></a>
      <p class="prizeNameBox" id="prizeNameBox"></p>
      <img src="http://piccvote.qiniudn.com/lottery/imgs/leftLeaf.png" class="leftLeaf" alt=""> 
    </div>
  </div>

  <div id="noPrizeModal" class="modal">
    <div class="noPrizeDialog dialogObj">     
      <a class="noPrizeBtn dialogBtn" href=""></a> 
      <img src="http://piccvote.qiniudn.com/lottery/imgs/leftLeaf.png" class="leftLeaf" alt="">   
    </div>
  </div>


<!-- mask div -->
<div id="mask" class="mask_box" onclick="mask();">
    <img src="http://wzhfile.qiniudn.com/guide5.png"/>
</div> 
<!-- mask div -->


<!-- Modal -->
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:320px;margin: 30px auto;">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>

        <h4 class="modal-title" id="myModalLabel">消息</h4>
      </div>
      <div class="modal-body"> 
        <p id="msg"></p>

      </div>
      <div class="modal-footer">
      <a href="/static/yy_vote/regist.html" data-dismiss="modal" class="btn btn-default" >确定</a>
      </div>
    </form>
    </div>
  </div>
</div>

<script type="text/javascript">
//遮照功能
var maskObj = $('#mask');
var mask = function () {        
        if(maskObj.is(':visible')){
            maskObj.hide();
        }
        else{
            maskObj.show();
        }
}
//遮照功能


var lotteryid = '<%= lotteryObj._id %>'
var userid = '<%= userid%>'
var ywyUserId = '<%= ywyuserid%>'
var appId = '<%= appId%>'
var u_username = '<%= wxuobj.appUserName %>'
var u_mobile = '<%= wxuobj.appUserMobile %>'
var u_type = '<%= wxuobj.appUserType %>'
var appUserName = u_username
var appUserMobile = u_mobile 

window.isAjaxing = false

$(function(){
  $(window).resize(initWrapperSize);
  initWrapperSize();
  //用户未完善资料 
  if(u_username == '未认证会员' || u_mobile.length != 11 || u_type == 0){
    $('#appUserName').val('');
    $('#appUserMobile').val('');
    $(".activityWrapper").show();
    $('#dialogModal').show()
    bindInfoEvent()
    return;
  }
  else{
      $(".activityWrapper").show();
      bindLottery()
  }

})


$(window).resize(initWrapperSize);

function initWrapperSize(){
  var windowWidth = $(window).width();
  var windowHeight = $(window).height();
  if(windowWidth<windowHeight){
    if(windowWidth/1616*2495>windowHeight){
      $(".wrapper").css({
        "width":windowHeight/2495*1616,
        "height":windowHeight,
        "background-size":windowHeight/2495*1616 + "px," + windowHeight + "px"
      });     
    } else {
      $(".wrapper").css({
        "width":windowWidth,
        "height":windowWidth/1616*2495,
        "background-size":windowWidth + "px," + windowWidth/1616*2495 + "px"
      });
    }
  } else {
    $(".wrapper").css({
      "width":windowWidth,
      "height":windowWidth/1616*2495,
      "background-size":windowWidth + "px," + windowWidth/1616*2495 + "px"
    });
  }
  $("#infoBox").css("top",293/2495*$(".wrapper").height());

  initActivityWrapperSize();
}


function initActivityWrapperSize(){ 
  var dialogWidth = $(".wrapper").width()*(1122/1616);
  var dialogHeight = $(".wrapper").height()*(1227/2495);
  $(".dialog").css({
    "width":dialogWidth,
    "height":dialogHeight,
    "background-size":dialogWidth + "px," + dialogHeight + "px"
  });
  $(".dialogBox").css({
    "width":dialogWidth*(376/1122),
    "height":dialogHeight*(321/1227),
    "background-size":dialogWidth*(376/1122) + "px," + dialogHeight*(321/1227) + "px"
  });
  var prizeWidth = $(".wrapper").width()*(1122/1616);
  var prizeHeight = $(".wrapper").height()*(1533/2495);
  $(".prizeDialog").css({
    "width":prizeWidth,
    "height":prizeHeight,
    "background-size":prizeWidth + "px," + prizeHeight + "px"
  });
  $(".prizeDialog .leftLeaf").css({
    "width":prizeWidth*(455/1122),
    "height":prizeHeight*(393/1533),
    "background-size":prizeWidth*(455/1122) + "px," + prizeHeight*(393/1227) + "px"
  });
  var noPrizeWidth = $(".wrapper").width()*(1122/1616);
  var noPrizeHeight = $(".wrapper").height()*(1350/2495);
  $(".noPrizeDialog").css({
    "width":noPrizeWidth,
    "height":noPrizeHeight,
    "background-size":noPrizeWidth + "px," + noPrizeHeight + "px"
  });
  $(".noPrizeDialog .leftLeaf").css({
    "width":noPrizeWidth*(455/1122),
    "height":noPrizeHeight*(393/1350),
    "background-size":noPrizeWidth*(455/1122) + "px," + noPrizeHeight*(393/1227) + "px"
  });
  $(".nomalTip,.prizeTip").css("background-size",$(".wrapper").width()*(979/1616) + "px," + $(".wrapper").height()*(232/2495) + "px");
  $(".noPrizeTip").css("background-size",$(".wrapper").width()*(1185/1616) + "px," + $(".wrapper").height()*(232/2495) + "px");
}



//弹出完善资料的div时绑定的事件
function bindInfoEvent(){


  //完善资料
  $(".submitBtn").click(function(){
    var name = $(".nameText").val();//姓名
    var tel = $(".telText").val();//电话
    var code = $(".codeText").val();//邀请码


        if(window.isAjax) return
        var appUserName = $('.nameText').val().trim();
        var appUserMobile = $('.telText').val().trim();
        var appSmsCode = $('.codeText').val().trim();

        if(!appUserName || appUserName == '未认证会员'){
          $('#msg').html('请填写真实姓名')
          $('#myModal').modal({
                  backdrop:true
          })
          return false;
        }
        if(!appUserMobile || !/^[0-9]{11}$/.test(appUserMobile)){
          $('#msg').html('请输入正确的手机号码')
        $('#myModal').modal({
                backdrop:true
        })

          return false;
        }
        if(!appSmsCode || appSmsCode.length !=6){
          $('#msg').html('请输入正确的短信校验码')
        $('#myModal').modal({
                backdrop:true
        })
          return false;
        }
    
        var q = {
            userId:userid,
            appUserName:appUserName,
            appUserMobile:appUserMobile,
            appUserCode:ywyUserId,
            appSmsCode:appSmsCode,
            appUserType:1,
        }

        window.isAjax = true
        $.post('/api/user/modify?wxuserid='+userid, q, function(d){
            window.isAjax = false
            if(d.error == 1){
                $('#msg').html(d.data)
                $('#myModal').modal({
                        backdrop:true
                })
                return
            }
            else{
                location.href = location.href
            }
        },'json')
 
  });

  
  window.getCodeDisable = false
  //获取短信验证码
  $(".getCode").click(function(){
    if(window.isAjax) return
    if(window.getCodeDisable) return
    var appUserMobile = $('.telText').val().trim();
     if(!appUserMobile || !/^[0-9]{11}$/.test(appUserMobile)){
        $('#msg').html('请输入正确的手机号码')
        $('#myModal').modal({
                backdrop:true
        })
        return false;
      }


      var btn = $(this);
        var second = 60;
        if(!btn.hasClass("disable")){
          btn.text(second + "秒");
          btn.addClass('disable');
          var timer = setInterval(function(){           
            if(second>0){         
              second -= 1;
              btn.text(second + "秒");
            } else {
              clearInterval(timer);
              window.getCodeDisable = false
              btn.removeClass("disable");
              btn.html('')
            }
          },1000);  
        }
    
    
    window.getCodeDisable = true
    window.isAjax = true

    $.post('/api/<%= appEname %>/smscode', {mobile:appUserMobile}, function(d){
            window.isAjax = false
            if(d.error == 1){
              $('#msg').html(d.data)
              $('#myModal').modal({
                      backdrop:true
              })
              return
            }
            else{
              //短信发送成功
            }
        },'json')
 
  });


}




function bindLottery(){

  //获取用户抽奖信息
   var getLotteryInfo = function(){
      window.lotteryData = {};
      $.get('/lottery/<%= appEname%>/info?ename=<%= lotteryEname%>',{},function(d){
            if(d.error == 1){
              $('#msg').html(d.data)
              $('#myModal').modal({
                      backdrop:true
              })
              return
            }
            window.lotteryData = d.data;
            var hasPrize = false
            var todayHasPrize = false
            var todayZero = moment().hour(0).minute(0).second(0)

            if(window.lotteryData.record.length==0){//表示从未抽过奖
                $('.nomalTip').show()
                bindLottery()
                return
            }else{
                window.lotteryData.record.forEach(function(item){
                    if(item.prizeId != 0){
                      hasPrize = true
                    }
                    if(moment(item.writeTime) >= todayZero){
                      todayHasPrize = true
                    }
                })

                if(hasPrize){
                    $(".box").eq(1).addClass('prize open');
                    $(".box").eq(1).children(".boxWrapper").addClass('prizeBg');

                    $('.prizeTip').show()
                    return
                }
                if(todayHasPrize){
                    $('.noPrizeTip').show()
                    return
                }
                $('.nomalTip').show()
                bindLottery()
                return
            }

        },'json')

   }()



   var bindLottery = function(){

            //点击箱子进行抽奖
            $(".box").click(function(){
                var that = $(this)
                var pos = that.index('.box')
          
                if($(".box.open").length===0){

                 if(window.isAjaxing) return
                   window.isAjaxing = true
                   $.ajax({
                      url: "/lottery/<%= appEname%>/start?ename=<%= lotteryEname%>",
                      dataType: "json",
                      type:'POST',
                      data: {
                         lotteryId:lotteryid
                      },
                      beforeSend: function() {
                       
                      },
                      success: function(d) {
                          window.isAjaxing = false
                          if(d.error == 1){
                              $('#msg').html(d.data)
                              $('#myModal').modal({
                                      backdrop:true
                              })
                             return
                          }

                          $(".box").eq(pos).addClass('prize open');
                          $(".box").eq(pos).children(".boxWrapper").addClass('prizeBg');


                          if(d.data.prizeId == 0){//没中奖
                            $(this).addClass('noPrize open');
                            setTimeout(function(){              
                                $("#noPrizeModal").show();
                            },1500);
                            return
                          }
                          else{//中奖了
                            
                            setTimeout(function(){              
                              $("#prizeModal").show();
                            },1500);
                            if(d.data.ename == 'phone'){
                                var temps = '抽中智能手机一部'
                            }
                            else if(d.data.ename == 'magic'){
                                var temps = '抽中魔豆一枚'
                            }
                            $('#prizeNameBox').html(temps)
                            return
                          }
                      },
                      error: function() {
                          window.isAjaxing = false
                          $('#msg').html('抽奖失败，请重试')
                          $('#myModal').modal({
                                  backdrop:true
                          })
                          
                      },
                      timeout: 5000
                    })
                } else {
                    return
                }
          });

   }

  
}

</script> 




<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
<script src="/api/hz/jsconfig?url=<%= jsurl %>" type="text/javascript"></script>
<script type="text/javascript">


$(function(){



    //部署上生产环境，把alert去掉

  if(window.jsticket_error=='1'){
    //alert('微信jsdk config加载出错')
    //alert(window.jsconfig)
  }
  if(window.jsticket_error=='0'){
      

      wx.config(window.jsconfig);
      wx.ready(function(){


          wx.onMenuShareTimeline({
            title: '诚邀您参与2015年合众人寿客服节抽奖活动', // 分享标题
           desc: '2015年合众人寿客服节开幕，欢迎您的参与，我的服务好不好，评分说了算，您还可以抽奖哟~', // 分享描述
            link: 'http://hz.xy-tang.com/active/<%= appEname%>?ename=hz_ywy_mingpian&touserid=<%= ywyuserid%>', // 分享链接
            imgUrl: 'http://piccvote.qiniudn.com/lottery/imgs/200200.jpg', // 分享图标
            trigger:function(){
              
            },
            complete:function(){
              
            },
            success: function () { 
                // 用户确认分享后执行的回调函数
                
            },
            cancel: function () { 
                // 用户取消分享后执行的回调函数  
            }
        });

        wx.onMenuShareAppMessage({
          title: '诚邀您参与2015年合众人寿客服节抽奖活动', // 分享标题
          desc: '2015年合众人寿客服节开幕，欢迎您的参与，我的服务好不好，评分说了算，您还可以抽奖哟~', // 分享描述
            link: 'http://hz.xy-tang.com/active/<%= appEname%>?ename=hz_ywy_mingpian&touserid=<%= ywyuserid%>', // 分享链接
            imgUrl: 'http://piccvote.qiniudn.com/lottery/imgs/200200.jpg', // 分享图标
            type: 'link', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            trigger:function(){
              
            },
            complete:function(){
              
            },
            success: function () { 
                
            },
            cancel: function () { 
                
            }
        });

      });
      wx.error(function(res){ });
    }
})

</script> 




<div style="display:none;">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?748c25c2ece0745b163b7030b4721cc1";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</div>

</body>


</html>