<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=0.67,maximum-scale=0.67,user-scalable=no;"/>
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no">


<title>房价点评网，给你发年终奖啦</title>
<link rel="stylesheet" href="http://wzzy2014skin.qiniudn.com/bootstrap/css/bootstrap.min.css">
<script src="http://wzzy2014skin.qiniudn.com/js/jquery.1.11.1.min.js" type="text/javascript"></script>
<script src="http://www.6998cdn.com/uc55_2014/js/jquery.cookie.js"  type="text/javascript"></script>
<script src="http://wzzy2014skin.qiniudn.com/bootstrap/js/bootstrap.min.js"></script>


<link href="http://bcs.duapp.com/xytimg/yjszp/activity-style.css" rel="stylesheet" type="text/css">
<script src="http://wzhfile.qiniudn.com/moment.js" type="text/javascript"></script>

<%- newrelic.getBrowserTimingHeader() %>
</head>
<style type="text/css">

.activity-lottery-winning .main{
	background: url("http://bcs.duapp.com/xytimg/zp%2Fbg1228.jpg?sign=MBO:609cad96aef414767c5ebb87057488e4:JL6Ho1PzVEJhtJTky4X2mt9hK%2F0%3D") no-repeat top center;
}



.activity-lottery-winning{ background: url(http://bcs.duapp.com/xytimg/zp%2Fbg1228.jpg?sign=MBO:609cad96aef414767c5ebb87057488e4:JL6Ho1PzVEJhtJTky4X2mt9hK%2F0%3D) no-repeat top center;}





.body_wrap{
	height: 1000px;
	overflow: hidden !important;
}
.main{
	height: 1000px !important;
}
#noprize{
	background: url("http://bcs.duapp.com/xytimg/zp%2Fbg1217prize.jpg") no-repeat center 0;
	background-size: 480px 780px;
}
#prizebox{
	background: url("http://bcs.duapp.com/xytimg/zp%2Fbg1217prize.jpg") no-repeat center 0;
	background-size: 480px 780px;
}
#mobile{
	background: url("http://bcs.duapp.com/xytimg/zp%2Fbg1217prize.jpg") no-repeat center 0;
	background-size: 480px 780px;
}
.question{
	padding: 20px 0 !important;
	width: 100% !important;
	height: 100% !important;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
}
.share{
	margin-top: 520px !important;
}
.mobile_inp{
top: 361px;
left: 93px;
width: 300px;
height: 60px;
font-size: 18px;
}

.openBtn{
	margin-top: 395px !important;
}
.prize_num {
top: 388px !important;
left: 240px !important;
font-size: 22px !important;
width: 200px;
height: 28px;
color: #fff;
text-align: left;
}





.prize_list{
  width: 400px;
  height: 150px;

  display: block;
  position: absolute;
  top: 760px;
  left: 30px;
}

.prize_list li{
color: #fff;
}




.bottom_tip{
	text-align: center;
	font-size: 13px;
	display: block;
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 100%;
}
.bottom_tip a{
	color:#fff;
}

.modal-title, .modal-body{
  color: #000;
}
.modal-body{
  line-height: 24px;
}
.modify_info{
width: 280px;
height: 38px;
line-height: 38px;
display: block;
position: absolute;
top: 944px;
left: 20px;
color: #555;
font-size: 18px;
}
..mask_box{
	z-index: 99;	
}


#outer-cont {
top: 240px;
}

#inner-cont {
top: 358px;
}


.lottery_again {
position: absolute;
top: 460px;
left: 10px;
display: block;
width: 450px;
height: 90px;
}

.lottery_again2 {
top: 650px;

}

.lottery_again3 {
top: 40px;

}
</style>
<body>
<!--规则，每天3次,转发没有额外次数,带中奖列表-->

<div class="body_wrap ">
<input type="hidden" id='openid' value=""/>
  <ul id="prize_list" class="prize_list">

      </ul>
<a href="javascript:;" title="抽奖规则" id="lottery_rule" class="lottery_again lottery_again2"></a>
<p class="bottom_tip">






<a href="http://xy-tang.com/index.html" target="_blank">
	信玉堂技术支持
</a>
</p>

<div class="main activity-lottery-winning" id="main" style="display:none;">
<div id="outercont">
<div id="outer-cont">
<div id="outer" style="-webkit-transform: rotate(2136deg);">
	<img src="http://bcs.duapp.com/xytimg/zp%2Factivity-lottery-12281.png" width="432px"></div>
</div>
<div id="inner-cont">
<div id="inner">
	<img src="http://bcs.duapp.com/xytimg/zp%2Factivity-lottery-12172.png">
</div>
</div>
</div>
<div class="content">
</div>

</div>



<div id="noprize" class="question" style="display:none;">
	<div class="question-title"></div>
	<div class="options button">
	    <ul></ul>
	  </div>
	  <div id="prize_num2" class="prize_num"></div>
	<div class="share tools-button" onclick="mask();"></div>

</div> 
  
<div id="prizebox" class="question" style="display:none;">
	<div class="question-title"></div>
	<div class="options button">
	    <ul></ul>
	  </div>
	<div class="share tools-button" onclick="mask();"></div>
	
</div>
  
  
<div id="mobile" class="question"  style="display:none;">
	<div class="question-title"></div>
	<div class="options button">
	    <ul></ul>
	  </div>
	<div id="prize_num" class="prize_num"></div>

		<div class="share tools-button" onclick="mask();"></div>
</div>  

  
<div id="mask" class="mask_box" onclick="mask();"><img src="http://wzzy2014skin.qiniudn.com/wk_zp2014/guide.png"/></div> 
  
  
  
</div>

















<!-- Modal -->
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:400px;margin: 30px auto; overflow: hidden;">
    <div class="modal-content">
      <div class="modal-header">
        <!--
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      -->
        <h4 class="modal-title" id="myModalLabel">请先完善您的资料，当您刮中奖品后方便我们联系您</h4>
      </div>
    <form class="bs-example bs-example-form" role="form">
      <div class="modal-body">      
        <div class="input-group input-group-lg">
          <span class="input-group-addon"  style="padding:0 10px;">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          <input type="text" class="form-control" placeholder="请输入真实姓名" id="appUserName" value="<%= wxuobj.appUserName %>" maxlength="20">
        </div>
        <br/>
        <div class="input-group input-group-lg">
          <span class="input-group-addon" style="padding:0 10px;">
            <span class="glyphicon glyphicon-phone" ></span>
          </span>
          <input type="text" class="form-control" placeholder="请输入手机号码" id="appUserMobile" value="<%= wxuobj.appUserMobile %>" maxlength="11">
        </div>
      
      </div>
      <div class="modal-footer">
        <!--
      <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      -->
      <button type="button" class="btn btn-primary" id="save_change">保存</button>
      </div>
    </form>
    </div>
  </div>
</div>





<!-- Modal -->
<div class="modal fade " id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:400px;margin: 30px auto;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">抽奖规则和奖品列表</h4>
      </div>
      <div class="modal-body"> 
奖品设置：<br/>

特等奖1名：iPad mini <br/>

一等奖2名：千元品牌金饰<br/>

二等奖4名：价值138元美食餐券<br/>

三等奖20名：精美电子体重计<br/>

四等奖30名：16G数码U盘<br/>

五等奖40名：10元话费<br/>

活动时间：12月29日—1月4日<br/>

游戏规则：<br/>

1.每人每天可参与大转盘3次，活动持续7天，共21次；<br/>

2.除二等奖、五等奖外，其余奖项获得者必须带上本人身份证、中奖证明至本公司领奖；<br/>

3.凡是参与游戏并分享游戏链接至朋友圈者，均可获得房价点评网定制的精美礼品一份（每人限领一份）。<br/>

4.中奖者没有按照提示留下联系方式的，视为中奖无效。<br/>

5.本活动最终解释权归房价点评网所有。<br/>

领奖时间：1月15日-1月16日，上午9：00-下午5：00<br/>

领奖地点：常州市天宁区文化宫嘉宏世纪大厦1120室克而瑞常州机构<br/>

<span style="color:#c00; font-weight:bolder">奖品仅限本人领取，不得代领</span><br/>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </form>
    </div>
  </div>
</div>























	
</div>




<script type="text/javascript">
var mask = function () {
		var maskObj = $('#mask');
		var tip = $('#tip');
		if(maskObj.is(':visible')){
			maskObj.hide();
			tip.hide();
		}
		else{
			maskObj.show();
			tip.show();
		}
}









window.isforward_today = moment().hour(23).minute(59).second(59)
window.isforward_today = new Date(window.isforward_today)


//var forwardingCallback = function(){
	//10表示cookie设置有效期10天
	//$.cookie('isForward', '1', { expires: 10, path: location.pathname });
	//location.href = location.href
//}





if($.cookie('isforward') == '1'){
  $.removeCookie('isforward');
  $.cookie('isforward', '1', { expires: window.isforward_today, path:location.pathname});
}
if($.cookie('has_modify_info') == '1'){
  $.removeCookie('has_modify_info');
   $.cookie('has_modify_info', '1', { expires: window.isforward_today, path: location.pathname });
}


//alert(window.isforward_today)
//$.cookie('isforward', '1', { expires: window.isforward_today, path: '/' });
//alert($.cookie('isforward'))























var forwardingUrl = 'http://mp.weixin.qq.com/s?__biz=MjM5MDAyMjYzNg==&mid=202488753&idx=2&sn=cb533895d9f8f6e961e7573d4468b990#rd';
var forwardingImg = 'http://bcs.duapp.com/xytimg/zp%2Fbg12282.jpg'
var forwardingTitle ='房价点评网，给你发年终奖啦'
var forwardingDesc ='房价点评网，给你发年终奖啦'




var lotteryid = '<%= lotteryObj._id %>'
var userid = '<%= userid%>'
var appId = '<%= appId%>'
var u_username = '<%= wxuobj.appUserName %>'
var u_mobile = '<%= wxuobj.appUserMobile %>'
var appUserName = u_username
var appUserMobile = u_mobile 


 $(function(){
  $('#lottery_again').click(function(){
    location.href = location.href;
  })

  $('#lottery_rule').click(function(){
       $('#myModal2').modal({
            backdrop:false
          })
  })

  //check username mobile
  var user_v = $('#appUserName').val();
  var mobile_v = $('#appUserMobile').val();
  if(user_v == '未认证会员'){
      $('#appUserName').val('');
  }
  if(mobile_v.length != 11){
      $('#appUserMobile').val('');
  }

  //end check
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  


  $('#save_change').click(function(){
    var appUserName = $('#appUserName').val().trim();
    var appUserMobile = $('#appUserMobile').val().trim();
    if(!appUserName || appUserName == '未认证会员'){
      alert('请填写真实姓名')
      return false;
    }
    if(!appUserMobile || !/^[0-9]{11}$/.test(appUserMobile)){
      alert('请输入正确的手机号码')
      return false;
    }
    $.post('/api/user/modify',{
    appUserName:appUserName, 
    appUserMobile:appUserMobile,
    wxuserid:userid,
    wxappid:appId,
    },function(d){
      if(d.error == 1) return alert(d.data);
      alert('资料完善成功，赶快去刮奖吧')
      $('#myModal').modal('hide')
      $.cookie('has_modify_info', 1, { expires: 365, path: '/' })
      //window.localStorage['has_modify'] = '1';
      //$('#p2').html(appUserName)
    },'json')
    return false;
  })

  window.lotteryData = {};

   $.get('/lottery/<%= appEname%>/info?ename=<%= lotteryEname%>',{},function(d){
    if(d.error == 1){
      return alert(d.data)
    }
        window.lotteryData = d.data;
        work(d.data)

    },'json')

  var work = function(data){

     $('#modify_info').click(function(){
        $('#myModal').modal({
            backdrop:false
          })
     })

     if((window.lotteryData.record.length<6 && $.cookie('has_modify_info') != '1') 
      ||
      ( u_username == '未认证会员' || u_mobile.length != 11)
      ){
        $('#myModal').modal({
            backdrop:false
          })
     }

     
     //put my prize
     var tmp_s = ''
	 
	 
     data.record.forEach(function(ro){
	 
      if(ro.prizeId != '0' && ro.prizeObj){
        
        tmp_s += '<li>奖品: '+ro.prizeObj.name+' (兑奖码:'+ro.giftId+')</li>'
      }
     })
     $('#prize_list').html(tmp_s)
     //end pu prize
   


  
     }






//forward







window.hasPlay = false;
window.hasForwardPlay = false;

window.getIsForward = function(){
		var is_f = $.cookie('isforward')
		if(is_f == '0' || !is_f) return false
		return is_f
}

$.get('/lottery/<%= appEname%>/info?ename=<%= lotteryEname%>',{},function(d){
    if(d.error == 1){
      return alert(d.data)
    }
        window.lotteryData = d.data;

        //总限制数
        if(lotteryObj.forwardTimes>=0){
        	 var totalLimit = lotteryObj.intervalTimes + lotteryObj.forwardTimes
        }
        else{
        	var totalLimit = lotteryObj.intervalTimes
        }

        if(d.data.record && d.data.record.length > 0){
        	//获取当天的抽奖记录
        	var todayMoment = moment().hour(0).minute(0).second(0).millisecond(0);
        	var count = 0;
        	var countF = 0;
        	window.todayRecordList = d.data.record.filter(function(rObj){
        		//var rObjMoment = moment(rObj.writeTime)
        		//if(rObjMoment>=todayMoment){
        			if(rObj.isForward == 0){
        				count++
        			}
        			else if(rObj.isForward == 1){
        				countF++
        			}
        			return true;
        		//}
        		//return false;
        	})
        	if(window.todayRecordList.length>=totalLimit){
        		window.hasPlay = true;
        		window.hasForwardPlay = true;
        	}
        	else if(count<lotteryObj.intervalTimes && countF<lotteryObj.forwardTimes){
        		window.hasPlay = false;
        		window.hasForwardPlay = false
        	}
        	else if(count>=lotteryObj.intervalTimes && countF<lotteryObj.forwardTimes){
        		window.hasPlay = true;
        		window.hasForwardPlay = false;
        	}

        }

    },'json')



	var boxObjs = $('#mobile, #prizebox, #noprize, #main')





window.requestAnimFrame = (function() {
		return window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame ||
		function(callback) {
			window.setTimeout(callback, 1000 / 60)
		}
	})();


	var totalDeg = 360 * 3 + 0;
	var steps = [];
	var lostDeg = [260];
	var prizeDeg = [70, 10, -180, -50, -230, -120, 10, -30];
	//[iPad mini，千元品牌金饰，价值138元美食餐券，精美电子体重计，16G数码U盘，10元话费，空，谢谢]
	var prize, sncode;
	var count = 0;
	var now = 0;
	var a = 0.01;
	var outter, inner, timer, running = false;
	function countSteps() {
		var t = Math.sqrt(2 * totalDeg / a);
		var v = a * t;
		for (var i = 0; i < t; i++) {
			steps.push((2 * v * i - a * i * i) / 2)
		}
		steps.push(totalDeg)
	}

	function step() {
		outter.style.webkitTransform = 'rotate(' + steps[now++] + 'deg)';
		outter.style.MozTransform = 'rotate(' + steps[now++] + 'deg)';
		if (now < steps.length) {
			requestAnimFrame(step)
		} else {
			running = false;
			setTimeout(function() {
							
					if(!window.prizeTitle){//没中奖
						alert(window.result)
					//	setTimeout(function(){
						//	boxObjs.hide();
						//	$('#noprize').show();
					//	},1000)
						
					}
					else{
						alert(window.result)
						
				//		setTimeout(function(){
				//			boxObjs.hide();
				//			$('#prize_num').html(prizeTitle.slice(0,-1))
				//			$('#mobile').show();
				//		},1000)
						
					}

			},
			200)
		}
	}


	function start(deg,haserror) {
		deg = deg || lostDeg[parseInt(lostDeg.length * Math.random())];
		running = true;
		clearInterval(timer);
		totalDeg = 360 * 5 + deg;
		steps = [];
		now = 0;
		countSteps();
		if(haserror){
			alert(window.result)
			return;
		}
		requestAnimFrame(step)
	}
	window.start = start;
	outter = document.getElementById('outer');
	inner = document.getElementById('inner');
	i = 10;
	$("#inner").click(function() {
		if (running) return;
		if (window.hasPlay) {
			alert('你已经玩过了，每个微信号每天只能转三次哦');
			return
		}


		//start(prizeDeg[5])
//[iPad mini，千元品牌金饰，价值138元美食餐券，精美电子体重计，16G数码U盘，10元话费，空，谢谢]

		//return;
		
		$.ajax({
			url: "/lottery/<%= appEname%>/start?ename=<%= lotteryEname%>",
			dataType: "json",
			type:'POST',
			data: {
				 lotteryId:lotteryid
			},
			beforeSend: function() {
				running = true;
				timer = setInterval(function() {
					i += 5;
					outter.style.webkitTransform = 'rotate(' + i + 'deg)';
					outter.style.MozTransform = 'rotate(' + i + 'deg)'
				},
				1)
			},
			success: function(d) {

					var prizeObj = {
						'iPad mini':prizeDeg[0],
						'千元品牌金饰':prizeDeg[1],
						'价值138元美食餐券':prizeDeg[2],
						'精美电子体重计':prizeDeg[3],
						'16G数码U盘':prizeDeg[4],
						'10元话费':prizeDeg[5],
						'空':prizeDeg[6],
						'谢谢':prizeDeg[7]
					}
						//[iPad mini，千元品牌金饰，价值138元美食餐券，精美电子体重计，16G数码U盘，10元话费，空，谢谢]

					if(d.error == 1){						
						window.prizeTitle = false;
						window.result = d.data;
						start(lostDeg[0],true);
						return;
					}  
					var prizeId = d.data.prizeId;
					if(prizeId == '0'){ //没有中奖
						window.prizeTitle = false;
						window.result = '获得定制礼品一份';
						return start(lostDeg[0]);
					}

					var prizeTitle = d.data.prizeObj.name;
								//[iPad mini，千元品牌金饰，价值138元美食餐券，精美电子体重计，16G数码U盘，10元话费，空，谢谢]
					var pos = prizeObj[prizeTitle]
					if(typeof pos == 'undefined'){
						window.prizeTitle = false;
						window.result = '获得定制礼品一份';
						return start(lostDeg[0]);
					}
					
					window.prizeTitle = d.data.prizeObj.name;
					window.result = '恭喜您抽中'+window.prizeTitle
					window.lastRecordId = d.data.recordId.toString();
					start(pos);
					//console.log(window.prizeTitle)
				
			},
			error: function() {
				start(lostDeg[0]);
			},
			timeout: 5000
		})
	})

	

var mobile_num = ['139','138','137','136','135','134','159','150','151','158','157','188','187','152','182','147','183','184','170','178']
$('#modify_info_btn').click(function(){

    var appUserMobile = $('#mobile_inp').val().trim();

    if(!appUserMobile || !/^[0-9]{11}$/.test(appUserMobile)){
      alert('请输入正确的手机号码')
      return false;
    }
    //var front3 = appUserMobile.slice(0,3);
    //if(mobile_num.indexOf(front3) == -1){
    //	alert('请输入移动号码')
    //  	return false;
    //}

    $.post('/lottery/<%= appEname%>/complete',{
	    truename:u_username, 
	    mobile:appUserMobile,
	    recordId:window.lastRecordId,
    },function(d){
      if(d.error == 1) return alert(d.data);
      boxObjs.hide();
      $('#prizebox').show();
     
    },'json')
    return false;
	
})



	$('#main').show();
});










   	 











var share_score = 2000;
var _host = "http://" + window.location.host;

document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
WeixinJSBridge.call('hideToolbar');
});
function attention_wx()
{
    //$.cookie('isforward', '1', { expires: 365, path: '/' });
}
function is_zero()
{
    if(share_score == 0)
    {
        share_score = 2000;
    }
}
var dataForWeixin = {
    appId: "",
    MsgImg: window.forwardingImg,
    TLImg: window.forwardingImg,
    url:  window.forwardingUrl,
    title: window.forwardingTitle,
    desc: window.forwardingDesc,
    fakeid: "",
    callback: function() {
        setTimeout(function(){
          attention_wx();
         },2000);       }
}; (function() {
    var onBridgeReady = function() {
        WeixinJSBridge.on('menu:share:appmessage',
        function(argv) {
            is_zero();
            WeixinJSBridge.invoke('sendAppMessage', {
                "appid": dataForWeixin.appId,
                "img_url": dataForWeixin.MsgImg,
                "img_width": "120",
                "img_height": "120",
                "link": dataForWeixin.url,
                "desc": dataForWeixin.desc,
                "title": dataForWeixin.title
            },
            function(res) { (dataForWeixin.callback)();
            });
        });
        WeixinJSBridge.on('menu:share:timeline',
        function(argv) { (dataForWeixin.callback)();
        is_zero();
            WeixinJSBridge.invoke('shareTimeline', {
                "img_url": dataForWeixin.TLImg,
                "img_width": "120",
                "img_height": "120",
                "link": dataForWeixin.url,
                "desc": dataForWeixin.desc,
                "title": dataForWeixin.title
            },
            function(res) {});
        });
        WeixinJSBridge.on('menu:share:weibo',
        function(argv) {
            WeixinJSBridge.invoke('shareWeibo', {
                "content": dataForWeixin.title,
                "url": dataForWeixin.url
            },
            function(res) { (dataForWeixin.callback)();
            });
        });
        WeixinJSBridge.on('menu:share:facebook',
        function(argv) { (dataForWeixin.callback)();
            WeixinJSBridge.invoke('shareFB', {
                "img_url": dataForWeixin.TLImg,
                "img_width": "120",
                "img_height": "120",
                "link": dataForWeixin.url,
                "desc": dataForWeixin.desc,
                "title": dataForWeixin.title
            },
            function(res) {});
        });
    };
    if (document.addEventListener) {
        document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
    } else if (document.attachEvent) {
        document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
        document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
    }
})();







var WeixinApi = (function () { 
 
    /* 这里省略了一堆代码……下面直接看调用接口 */ 
    return {
        ready           :wxJsBridgeReady,
        shareToTimeline :weixinShareTimeline,
        shareToWeibo    :weixinShareWeibo,
        shareToFriend   :weixinSendAppMessage,
        showOptionMenu  :showOptionMenu,
        hideOptionMenu  :hideOptionMenu,
        showToolbar     :showToolbar,
        hideToolbar     :hideToolbar,
        getNetworkType  :getNetworkType,
        imagePreview    :imagePreview
    };    
 
})();
// 所有功能必须包含在 WeixinApi.ready 中进行
WeixinApi.ready(function(Api){
    alert(111)
    // 微信分享的数据
    var wxData = {
        "imgUrl":'http://www.baidufe.com/fe/blog/static/img/weixin-qrcode-2.jpg',
        "link":'http://www.baidufe.com',
        "desc":'大家好，我是Alien，Web前端&Android客户端码农，喜欢技术上的瞎倒腾！欢迎多交流',
        "title":"大家好，我是赵先烈"
    };
 
    // 分享的回调
    var wxCallbacks = {
        // 分享操作开始之前
        ready:function () {
            alert('ready')
            // 你可以在这里对分享的数据进行重组
        },
        // 分享被用户自动取消
        cancel:function (resp) {
            alert('cancel')
            // 你可以在你的页面上给用户一个小Tip，为什么要取消呢？
        },
        // 分享失败了
        fail:function (resp) {
            // 分享失败了，是不是可以告诉用户：不要紧，可能是网络问题，一会儿再试试？
        },
        // 分享成功
        confirm:function (resp) {
                
        },
        // 整个分享过程结束
        all:function (resp) {
            // 如果你做的是一个鼓励用户进行分享的产品，在这里是不是可以给用户一些反馈了？
        }
    };
 
    // 用户点开右上角popup菜单后，点击分享给好友，会执行下面这个代码
    Api.shareToFriend(wxData, wxCallbacks);
 
    // 点击分享到朋友圈，会执行下面这个代码
    Api.shareToTimeline(wxData, wxCallbacks);
 
    // 点击分享到腾讯微博，会执行下面这个代码
    Api.shareToWeibo(wxData, wxCallbacks);
})




</script>




<div style="display:none;">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F4d70084ab8a23d1e8e76861a9553677d' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>

</body>


</html>