<% include inc/head %>
<%
  var title = '个人中心'
%>
<% include inc/top %>


<section class="page-content container content-info  info-blue">
    <div class="card_wrap">
      <% if(userObj.code1 == '1'){ %>
        <img src="http://wkmixtown.qiniudn.com/wanke_skin/img/card3.png" class="card_img" />
      <% } else { %> 
        <img src="http://wkmixtown.qiniudn.com/wanke_skin/img/card2.png" class="card_img" />
      <% } %>

        <span class="card_num">NO. <%= binderObj.appCardNumber %></span>
    </div>
    <section class="info-my" style="padding-bottom:15px;">
      <header>
        <h1><%= userObj.appUserName %></h1>
        <div>
          <img src="http://wkmixtown.qiniudn.com/wanke_skin/img/mem_head.jpg">
        </div>
      </header>
      <ul>
      <li>
        <h2>联系电话</h2>
        <p><%= userObj.appUserMobile %></p>
      </li>
<% if(userObj.code1 == '1'){ %>
      <li>
       <h2>帐号类型</h2>
        <p>经纪人</p>
    </li>
<% } else { %>  
  <li>
      <h2>楼号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
      <p><%= binderObj.appUserBuilding %> 栋</p>
  </li>
  <li>
       <h2>房号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
        <p><%= binderObj.appUserRoom %> 室</p>
  </li>
  
<% } %>

                                      
      </ul>
<% if(userObj.code1 == '1'){ %>
     
<% } else { %>
    <a class="gm_get_btn gm_go_to_btn" href="/view/user/getmoney?wxuserid=<%= userObj._id%>">开红包拉</a>
<% } %>    

    </section>
         

  </section>
<% if(userObj.code1 == '1'){ %>
  <% include inc/ruleBroker %>
<% } else { %>  
  <% include inc/rule %>
<% } %>



<script type="text/javascript">
  $(function(){
    $('#rule_div_box').show()
  })
</script>
<% include inc/foot %>