<% include inc/head %>
<%
  var title = '互动游戏'
%>
<% include inc/top %>
<article class="topNews">
<section class="newsList">
<ul page="0" class="newsPage"  id="newsListContent">
        <% 
            var j = 0;
         %>
        <% 
            list.forEach(function(obj,i){ 
            if(i%10==0){
                j++;
            }
          %>
            <li name="newsBlock_<%= j %>" class="newsHead" style="display:none;">
                <a target="_blank" href="/view/game/gamedetail?gameid=<%= obj._id %>&wxuserid=<%= userObj._id %>">
                <img  class="listimg"  src="<%= obj.picture %>" width="70" height="52"/></a>
                <a  target="_blank"  href="/view/game/gamedetail?gameid=<%= obj._id %>&wxuserid=<%= userObj._id %>">
                <div class="listdiv">
                    <p class="newsTitle"><%= obj.title %></p>
                </div>
                </a>
            </li>
        <% })   %>                                     
</ul>
<div id="listMore" class="pageBtn">点击查看更多</div>
</section>
</article>
<% include inc/foot %>