<% include inc/head %>
<%
  var title = '我的订单'
%>
<% include inc/top %>
<% include inc/my_top %>
<script>
	var my_pos = 3;
</script>

<article style="display: block;" class="articleList">
    
    <div class="comment_title comment_title2 sTitle">
        我的订单(<span class="replyCount" ><%= count %></span>条)
    </div>


<table width="100%" border="0" cellspacing="0" cellpadding="0" class="shop_table">
  <tbody>
      <% 
        list.forEach(function(obj,i){ 
      %>
        <tr>
        <td width="85"><img src="<%= obj.imgurl %>" width="70" height="70"/></td>
        <td>
          <span>名称：<%= obj.shopname %> ( <%= obj.scoreWayName %> )</span>
          <span>订单号：<b><%= obj.scoreGuid %></b><font>价格：<b><%= obj.scoreDetail %>积分</b></font></span>
          <span>状态：<b><%= obj.status %></b></span>
          <span>联系电话：<%= obj.mobile %></span>
          <span>下单日期：<%= obj.writeTime %></span>
        </td>
        </tr>
      <% })   %> 
  </tbody>
</table>



</article>
<% include inc/foot %>