<% include inc/head %>
<%
  var title = '详细内容'
%>
<% include inc/top %>

<article style="display: block;" class="articleList">
    <div class="head clearfix">
        <h1 class="title"><%= doc.appNewsTitle %></h1>
        <h2><span class="source"><span><%= title %></span> <span class="time"><%= doc.writeTime %></span></h2>
    </div>
    <div class="text clearfix">
        <div class="text1"><p>
        <% doc.appNewsPicture.forEach(function(path){ %>
          <img src="<%= path %>" /><br>
        <% }) %>
        <%- doc.appNewsContent %>
        </div>
    </div>

</article>

<% include inc/foot %>