<% include inc/head %>
<%
  var title = '预约'
%>

<% include inc/top %>
<article class="topNews">
<section class="newsList">

<ul page="0" class="newsPage" >
          <% 
            list.forEach(function(obj,i){ 
          %>
            <li class="newsHead">
                <a href="tel:<%= obj.tel %>"><img src="<%= obj.picture %>" width="70" height="52"/></a>
                <a href="tel:<%= obj.tel %>">
                <div>
                    <p class="newsTitle newsTitle2"><%= obj.name %></p>
                    <p class='call_p'>联系电话：<%= obj.tel %></p>
                </div>
                </a>
            </li>
        <% })   %>                                     
</ul>

</section>
</article>
<% include inc/foot %>