<% include inc/head %>
<%
  var title = '积分兑换'
%>
<% include inc/top %>
<% include inc/score_top %>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="shop_table">
  <tbody>
      <% 
        list.forEach(function(obj,i){ 
          var count = 0;
          list2.forEach(function(obj2){
              if(obj._id == obj2.scoreCode1){
                  count++
              }
          })

      %>
        <tr>
        <td width="85"><img src="<%= obj.imgUrl %>" width="70" height="70"/></td>
        <td>

          <span>名称：<%= obj.name %></span>
          <span>价格：<b><%= obj.price %>积分</b><font>库存：<b><%= obj.totalNumber %>件</b></font></span>
          <span>
          <% if(obj.price > userObj.appUserScore){ %>
              <a class="redBtn grayBtn" href="javasciprt:;">积分不足</a>
          <%} else if(obj.accountBuyNumber == -1){ %>
              <a class="redBtn" href="javasciprt:;" prizeid="<%= obj._id %>" price="<%= obj.price %>" pricename="<%= obj.name %>"  name="submit_confirm">立即兑换</a>
          <%} else if(obj.accountBuyNumber>0 && obj.accountBuyNumber>count){ %>
              <a class="redBtn" href="javasciprt:;" prizeid="<%= obj._id %>"  price="<%= obj.price %>" pricename="<%= obj.name %>"  name="submit_confirm">立即兑换</a>
          <% } else{ %>
              <a class="redBtn grayBtn" href="javasciprt:;">超过兑换限额</a>
          <%}%>
          </span>
        </td>
        </tr>
      <% })   %> 

   


  </tbody>
</table>


<div id="shop_confirm" class="mask" style="display:none;">
    <div class="confirm_box">
        <h2>确定花费<span id="confirm_price"></span>积分兑换<span id="confirm_name"></span>?</h2>
        <p>请输入手机号码:
            <input type="text" name="mobile" id="confirm_mobile" value="<%= userObj.appUserMobile %>" placeholder="请输入手机号" />
        </p>
        <p class="txtc">
            <a id="submit_exchange" class="redBtn" href="javascript:;">确定兑换</a>
            <a id="submit_cancel" class="redBtn greenBtn" href="javascript:;">取消</a>
        </p>
    </div>
</div>



<script type="text/javascript">
var userMobile = '<%= userObj.appUserMobile %>'

$(function(){
  var close_pop = function(){
     $('#confirm_price').empty();
      $('#confirm_name').empty();
      $('#shop_confirm').hide();
  }
  $('a[name="submit_confirm"]').click(function(){//确认兑换
      var that = $(this);
      var price = that.attr('price');
      window.prizeid = that.attr('prizeid');
      var pricename = that.attr('pricename');

      $('#confirm_price').html(price);
      $('#confirm_name').html(pricename);
      $('#shop_confirm').show();
  })

  $('#submit_cancel').click(function(){
      close_pop()
      window.prizeid = 0;
  })

  $('#submit_exchange').click(function(){//立即兑换
    if(window.isajax) return false;
      var mobile = $('#confirm_mobile').val();
      window.isajax = true;
      $.post('/api/shop/exchangeprize',{'prizeId':window.prizeid, 'mobile':mobile, 'wxuserid':window.userid},function(d){
          window.isajax = false;
          close_pop()
          if(d.error) return alert(d.data);
          alert('兑换成功');
          setTimeout(function(){
              location.href = location.href;
          },300)         
      },'json')
  })


})

</script>


<% include inc/foot %>