<% include inc/head %>
<%
  var title = '个人空间'
%>
<% include inc/top %>
<% include inc/my_top %>
<script>
  var my_pos = 4;
</script>

<article style="display: block;" class="articleList">
    <div class="comment_title sTitle">
        <%= userObj.appUserName %>，当前积分(<span class="replyCount"><%= userObj.appUserScore %></span>分)
    </div>
</article>

<div id="sale_list">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="shop_table">
  <tbody>
      <% 
        list.forEach(function(obj,i){ 
      %>
        <tr>
        <td width="85"><img src="<%= obj.imgUrl %>" width="70" height="70"/></td>
        <td>

          <span>名称：<%= obj.name %></span>
          <span>最高出价：<b><%= obj.highPrice %>积分</b></span>
          <span>出价人：<%= obj.appUserName %></span>
          <span>开始时间：<%= obj.startTime %></span>
          <span>结束时间：<%= obj.endTime %></span>
          <span>
          <% if(obj.state == 2){ %>
              <a class="redBtn grayBtn" href="javasciprt:;">已经结束</a>
          <%} else if(obj.state == 1){ %>
              <a class="redBtn grayBtn" href="javasciprt:;">尚未开始</a>
          <%} else if(obj.highUserId == userObj._id){ %>
              <a class="redBtn grayBtn" href="javasciprt:;">您已经是最高出价</a>
          <%} else if(obj.highPrice > userObj.appUserScore){ %>
              <a class="redBtn grayBtn" href="javasciprt:;">积分不够</a>
          <% } else { %>
              <a class="redBtn" href="javasciprt:;" name="submit_confirm" pricename="<%= obj.name %>" prizeid="<%= obj._id %>" hightprice="<%= obj.highPrice %>">出价竞拍</a>
          <%}%>
          </span>
        </td>
        </tr>
      <% })   %> 

  </tbody>
</table>
</div>

<div id="shop_confirm" class="mask" style="display:none;">
    <div class="confirm_box confirm_box2">
        <h2>确定出价<span id="confirm_name"></span>?</h2>
        <p>输入手机号（手机号是得奖后重要的联系方式）:
            <input type="text" name="mobile" id="confirm_mobile" value="<%= userObj.appUserMobile %>" placeholder="请输入手机号" />
        </p>
         <p>您的出价（当前最高出价 <font id="sale_high_price" class="redt"></font> 积分 ）:
            <input type="number" name="confirm_high_score" id="confirm_high_score" value="" placeholder="请输入您的出价" />
        </p>
        <p class="txtc">
            <a id="submit_exchange" class="redBtn" href="javascript:;">确定出价</a>
            <a id="submit_cancel" class="redBtn greenBtn" href="javascript:;">取消</a>
        </p>
    </div>
</div>



<script type="text/javascript">
var userMobile = '<%= userObj.appUserMobile %>'

$(function(){
  var close_pop = function(){
      $('#confirm_price').empty();
      $('#confirm_name').empty();
       $('#sale_high_price').empty();
      $('#shop_confirm').hide();
  }
  $('a[name="submit_confirm"]').click(function(){//确认兑换
      var that = $(this);
      var price = that.attr('price');
      window.prizeid = that.attr('prizeid');
      var pricename = that.attr('pricename');
      window.hightprice = that.attr('hightprice') - 0;
      $('#confirm_high_score').val((window.hightprice+1))

      $('#confirm_price').html(price);
      $('#confirm_name').html(pricename);
      $('#sale_high_price').html(window.hightprice);
      $('#shop_confirm').show();
  })

  $('#submit_cancel').click(function(){
      close_pop()
      window.prizeid = 0;
  })

  $('#submit_exchange').click(function(){//立即兑换
    if(window.isajax) return false;

      var mobile = $('#confirm_mobile').val();
      var myhighprice = $('#confirm_high_score').val()-0;
      if(myhighprice<=window.hightprice){
          alert('您的出价必须高于最高出价')
          return false;
      }
      window.isajax = true;
      $.post('/api/shop/saleprize',{'saleid':window.prizeid, 'mobile':mobile,'score':myhighprice, 'wxuserid':window.userid},function(d){
          window.isajax = false;
          close_pop()
          if(d.error) return alert(d.data);
          alert('出价成功');
          setTimeout(function(){
              location.href = location.href;
          },300)         
      },'json')
  })


})

</script>


<% include inc/foot %>