<% include inc/head %>
<%
  var title = '专刊内容'
%>
<% include inc/top %>

<article style="display: block;" class="articleList" id="special_detail">
    <div class="head clearfix">
        <h1 class="title"><%= doc.title %></h1>
        <h2><span class="source"><span>发布时间：</span> <span class="time"><%= doc.writeTime %></span></h2>
        <div class="sp_favor_box">
        <% if(favorCount>0){ %>
            <a href="javascript:;" class="redBtn" spid="<%= doc._id %>">已收藏</a>
        <% }else{ %>
            <a href="javascript:;" class="redBtn" id="sendFavor" spid="<%= doc._id %>">收藏</a>
        <% } %>
        </div>
    </div>
    <div class="text clearfix">
        <div class="text1"><p>
        <% doc.picture.forEach(function(path){ %>
          <img src="<%= path %>" /><br>
        <% }) %>
        <%- doc.content %>
        </div>
    </div>

</article>


<article style="display: block;" class="articleList">
    <div class="comment_title sTitle">
        全部跟贴(<span class="replyCount"><%= commentCount %></span>条)
    </div>
 <div class="commentList" id="commentList">



</div>
<div id="listMore" class="pageBtn" spid="<%= doc._id %>">点击查看更多</div>



<div>
<textarea width="90%" rows="5" cols="38" id="sendCommentText" placeholder="请发表您的看法"></textarea>
<br><button id="sendComment">发布</button>
</div>





</article>

<% include inc/foot %>