<% include inc/head %>
<%
  var title = '上院生活'
%>
<% include inc/top %>
<% include inc/special_top %>

<article class="topNews">
<section class="newsList">
<ul page="0" class="newsPage"  id="specialListContent" style="margin-top: 15px;">

<!--
<li class="newsHead newsHead2" >
	<a href="/view/service/specialdetail?spid=<%= topdoc._id %>&wxuserid=<%= userObj._id %>" target="_blank">
	<div class="specialtop"><img class="specialtop_img" src="<%= topdoc.picture[0] %>" />
	<span class="specialtop_title"><%= topdoc.title %></span></div></a>
</li>

	<% 
		list.forEach(function(obj,i){ 
	%>

	<li class="newsHead" >
	    <a href="/view/service/specialdetail?spid=<%= obj._id %>&wxuserid=<%= userObj._id %>" target="_blank" class="img_a_box">
	   		<img class="listimg listimg5" src="<%= obj.picture[0] %>" />
		</a>
	    <a href="/view/service/specialdetail?spid=<%= obj._id %>&wxuserid=<%= userObj._id %>" target="_blank">
	    <div class="listdiv listdiv2"><p class="newsTitle newsTitle2"><%= obj.title %></p>
	    </div>
	    </a>
	</li>

	<% })   %>
-->


</ul>
<div id="listMore" class="pageBtn" style="display:none;">点击查看更多</div>
<div class="clearfix"></div>
</section>
</article>
<% include inc/foot %>