<% include inc/head %>
<%
  var title = '上院生活'
%>
<% include inc/top %>

<article style="display: block;" class="articleList" id="special_detail">
    <div class="head clearfix">
        <h1 class="title"><%= doc.title %></h1>
        <h2 class="specialH2">
            <span class="source"><span class="time"><%= doc.writeTime %></span>

<% if(userObj._id != 0){ %>
             <div class="sp_favor_box">
                    <% if(favorCount>0){ %>
                        <a href="javascript:;" class="redBtn redBtn2" spid="<%= doc._id %>">已收藏</a>
                    <% }else{ %>
                        <a href="javascript:;" class="redBtn redBtn2" id="sendFavor" spid="<%= doc._id %>">收藏</a>
                    <% } %>
                    <a href="#sendCommentText" class="redBtn redBtn2">评论</a>
<%}%>
                    <a href="http://mp.weixin.qq.com/s?__biz=MjM5ODI3ODYzNQ==&mid=200487799&idx=1&sn=11e18128416d4ca8847a1ffeba4b3248#rd" class="redBtn redBtn2" target="_blank">关注</a>
            </div>


        </h2>
    </div>
    <div class="text clearfix">
        <div class="text1"><p>
        <% doc.picture.forEach(function(path){ %>
          <img src="<%= path %>" /><br>
        <% }) %>
        <%- doc.content %>
        </div>
    </div>

</article>


<article style="display: block;" class="articleList">
    <div class="comment_title sTitle">
        全部跟贴(<span class="replyCount" id="replyCount"><%= commentCount %></span>条)
    </div>
 <div class="commentList" id="commentList">



</div>
<div id="listMore" class="pageBtn" spid="<%= doc._id %>">点击查看更多</div>



<% if(userObj._id != 0) {%>
    <% if(binderObj.appUserType == 0){ %>
         <div id="sendCommentText">       
              <p>未认证会员不能评论，前往<a href="/view/user/regist?wxuserid=<%= userObj._id %>" target="_blank" class="reda">认证会员</a>，获得积分和参与活动</p>
        </div>   
    <%} else{ %>
        <div class="sendCommentText_box">
        <textarea rows="5" id="sendCommentText" placeholder="请发表您的看法"></textarea>
        <button id="sendComment">发布</button>
        <p class="comment_tip ft14">评论即可获得5积分</p>
        </div>
    <%}%>
<%}%>
</article>

<script type="text/javascript" >
    window.articleid = '<%= doc._id %>'

    window.forwardingImg = '<%=userObj.currentSite %><%= doc.picture[0] %>'
    window.forwardingTitle = '<%= doc.title %>';
    window.forwardingUrl = '<%=userObj.currentSite %>/view/service/specialdetail?spid=<%= doc._id %>&wxuserid=0'

</script>
<script type="text/javascript" src="/static/forwading.js"></script>
<% include inc/foot %>