<p>myObj: <%= myObj%></p>
<p>toUserId: <%= toUserId%></p>
<p>fromUserId: <%= fromUserId%></p>
<p>fromOpenId: <%= fromOpenId%></p>
<p>activeId: <%= activeId%></p>
<p>supportCount: <%= supportCount%></p>
<p>hasAdd: <%= hasAdd%></p>