<p>
	<%- JSON.stringify(activeObj.activeObj) %>
</p>
<p>
	<%- JSON.stringify(fromUserObj) %>
</p>

<p>用户昵称: <%= fromUserObj.wxName %></p>
<p>用户头像: <img src="<%= fromUserObj.wxAvatar %>" /></p>
<p>地址: <%= fromUserObj.wxAddress %></p>

