<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="telephone=no" name="format-detection"></meta>
<meta content="width=device-width, initial-scale=1.0" name="viewport"></meta>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"></meta>
<meta content="no-cache" http-equiv="Pragma"></meta>
<meta content="no-cache" http-equiv="Cache-Control"></meta>
<meta content="0" http-equiv="Expires"></meta>
<link rel="stylesheet" href="http://wzzy2014skin.qiniudn.com/active_prize_2014/css/active.css"></link>
<link rel="stylesheet" href="http://wzzy2014skin.qiniudn.com/bootstrap/css/bootstrap.min.css">
<script src="http://wzzy2014skin.qiniudn.com/js/jquery.1.11.1.min.js" type="text/javascript"></script>
<script src="http://wzhfile.qiniudn.com/jquery.cookie.js"  type="text/javascript"></script>
<script src="http://wzzy2014skin.qiniudn.com/bootstrap/js/bootstrap.min.js"></script>
<script src="http://wzhfile.qiniudn.com/moment.js" type="text/javascript"></script>


<link href="http://wzzy2014skin.qiniudn.com/szggl_2014/css/layout.css" rel="stylesheet" type="text/css" />









<%- newrelic.getBrowserTimingHeader() %>
<title>
     【助力】冰与火之歌
</title>

<style type="text/css">



body {

background-color: #754124;


}
<% if(timeError==1){%>
    .timeErrorHide{
        display:none !important;
    }
<%}%>
    .container{
        background:#754124;
        padding-bottom: 20px;
    }
	.container {
width: 100%;
padding-right: 0px;
padding-left: 0px;
position: absolute;
z-index: -100000;		
}


.button1 {
display: inline-block;
letter-spacing: 0;
font-size: 20px;
padding: 5px 0 0 0;
height: 35px;
line-height: 40px;
margin: 0;
font-weight: bold;
}

#round {padding:10px; width:100%; height:70px;border: 1px solid #dedede;-moz-border-radius: 15px; 
-webkit-border-radius: 15px; 
border-radius:5px;
 }

.lottery_again {
position: absolute;
display: block;
font-size:20px;
background-color:#6fcbde;
padding:10px; width:99%; height:50px;border: 1px solid #dedede;-moz-border-radius: 15px; 
-webkit-border-radius: 15px; 
border-radius:5px;
}
a {
color: #000;
text-decoration: none;
}
.share_timeline1 {
border-radius: 4px;
border: 0;
height: 50px;
color: #510400;
text-align: center;
background-color:#f9e9db;

}



.main{
		width: 100%;
		position: absolute;
		margin-top:1000px;
		display: none;
		background: rgba(0,0,0,.7);
		z-index: 100000;
	}
	
	
	.bottom_tip{
	text-align: center;
	font-size: 13px;
	display: block;
	position relative;
	left: 0;
	
	width: 100%;
}
.bottom_tip a{
	color:#000;
}
	
	.share_timeline {
background-color:#fffe00;
}
	
	
	
	
	.share_timeline_button {
display: inline-block;
letter-spacing: 0;
padding: 5px 0 0 55px;
height: 35px;

margin: 0;

}
	
	.duijiang_button {
display: inline-block;
letter-spacing: 0;
font-size: 20px;
padding: 5px 0 0 55px;
height: 35px;
margin: 0;
font-weight: bold;
}
	
	
	.modal{
	color:#000;}
	
	

.lm1 {
position: absolute;
height: 5%;
width: 14%;
top: 16%;
left: 44%;
/*background: #000;*/
z-index: 1000001;
}	


.lm2 {
position: absolute;
height: 2%;
width: 27%;
top: 21.3%;
left: 37%;
/*background: #000;*/
z-index: 1000001;
}



	
	
		.jiu {
position: absolute;
width: 100%;
height: auto;
top: 0%;
left: 0%;
z-index: 1000;
}
	
	
.you {
position: absolute;
width: 100%;
height: auto;
top: 0%;
left: 0%;
z-index: 1001;
display: none;
}
	


.shui {
position: absolute;
width: 100%;
height: auto;
top: 0%;
left: 0%;
z-index: 1001;
display: none;
}



.bing {
position: absolute;
width: 100%;
height: auto;
top: 0%;
left: 0%;
z-index: 1001;
display: none;
}	
	
	

	.anniu {
position: absolute;
width: 100%;
height: auto;
top: 45%;
left: 0%;
z-index: 9999;
}
	
	
		.anniu1 {
position: absolute;
width: 33%;
height: 15%;
top: 45%;
left: 0%;
z-index: 9999999;
/*background-color: #000;*/
}
		.anniu2 {
position: absolute;
width: 33%;
height: 15%;
top: 45%;
left: 33%;
z-index: 9999999;
/*background-color: #333;*/
}	
			.anniu3 {
position: absolute;
width: 33%;
height: 15%;
top: 45%;
left: 66%;
z-index: 9999999;
/*background-color: #666;*/
}
	
			.anniu4 {
position: absolute;
width: 100%;
height: 5%;
top: 62%;
left: 0%;
z-index: 9999999;
/*background-color: #666;*/
}	
	.duijiang1 {
position: absolute;
width: 100%;
height: 5%;
top: 75%;
left: 0%;
z-index: 9999999;
/*background-color: #666;*/
}	


	
	
	.face {
position: absolute;
width: 100%;
top: 0%;
left: 0%;
z-index: 99999;
}
	
	
	
	
.visitor {
/*margin-top: 150%;*/
border-radius: 4px;
background-color: #F8F8F8;
padding: 10px;
border: solid 1px #D9D8DC;
}
	
</style>




<style>

.bar {
  height: 40px;
  width: 80%;
  transition: width 1.2s ease-in-out;
  position: absolute;
  margin: 0.5rem 0;
  top:69%;
  left:10%;
  border-radius: 4px;
}
@media(max-width: 80%) {
  .bar {
    margin: 2.5rem 0 0.5rem;
  }
}
.bar.mint {
  background-color: #14c3a2;
  background-image: repeating-linear-gradient(-45deg, #14c3a2, #14c3a2 30px, #22e8c3 30px, #22e8c3 60px);
  background-size: 600px 100%;
  animation: barberpole 12s linear infinite;
  border-bottom: 0.2rem solid #0d7e68;
}
.bar.red {
  background-color: #cf4647;
  background-image: repeating-linear-gradient(-45deg, #cf4647, #cf4647 30px, #da6e6f 30px, #da6e6f 60px);
  background-size: 600px 100%;
  animation: barberpole 12s linear infinite;
  border-bottom: 0.2rem solid #9f292a;
}
.bar.orange {
  background-color: #eb7b59;
  background-image: repeating-linear-gradient(-45deg, #eb7b59, #eb7b59 30px, #f09f87 30px, #f09f87 60px);
  background-size: 600px 100%;
  animation: barberpole 12s linear infinite;
  border-bottom: 0.2rem solid #dd481b;
}
.bar.lila {
  background-color: #524656;
  background-image: repeating-linear-gradient(-45deg, #524656, #524656 30px, #6d5d72 30px, #6d5d72 60px);
  background-size: 600px 100%;
  animation: barberpole 12s linear infinite;
  border-bottom: 0.2rem solid #2a242c;
}
.bar.gray {
  background-color: #595b5a;
  background-image: repeating-linear-gradient(-45deg, #595b5a, #595b5a 30px, #727574 30px, #727574 60px);
  background-size: 600px 100%;
  animation: barberpole 12s linear infinite;
  border-bottom: 0.2rem solid #333434;
}
.bar.active:after, .bar.active:before {
  opacity: 1;
}
.bar:before {
  content: attr(data-skill);
  display: block;
  position: absolute;
  top: 0;
  left: 10%;
  padding: 10px;
  height: 40px;
  font-style: italic;
  opacity: 0;
  transition: opacity 2s 0.6s;
}
@media(max-width: 80%) {
  .bar:before {
    top: -100%;
    color: black;
    padding: 10px 0 0;
  }
}
.bar:after {
  content: attr(data-percent) "%";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  padding: 10px;
  color:#fff;
  opacity: 0;
  transition: opacity 2s 0.6s;
}
@media(max-width: 80%) {
  .bar:after {
    left: 0;
  }
}
@keyframes barberpole {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 600px 0%;
  }
}
.bar.active[data-percent="5"] {
  width: 5%;
}

.bar.active[data-percent="10"] {
  width: 10%;
}

.bar.active[data-percent="15"] {
  width: 15%;
}

.bar.active[data-percent="20"] {
  width: 20%;
}

.bar.active[data-percent="25"] {
  width: 25%;
}

.bar.active[data-percent="30"] {
  width: 30%;
}

.bar.active[data-percent="35"] {
  width: 35%;
}

.bar.active[data-percent="40"] {
  width: 40%;
}

.bar.active[data-percent="45"] {
  width: 44%;
}

.bar.active[data-percent="50"] {
  width: 47%;
}

.bar.active[data-percent="55"] {
  width: 50%;
}

.bar.active[data-percent="60"] {
  width: 53%;
}

.bar.active[data-percent="65"] {
  width: 56%;
}

.bar.active[data-percent="70"] {
  width: 59%;
}

.bar.active[data-percent="75"] {
  width: 62%;
}

.bar.active[data-percent="80"] {
  width: 65%;
}

.bar.active[data-percent="85"] {
  width: 68%;
}

.bar.active[data-percent="90"] {
  width: 72%;
}

.bar.active[data-percent="95"] {
  width: 76%;
}

.bar.active[data-percent="100"] {
  width: 80%;
  
}

</style>




 <script src="http://bcs.duapp.com/xytimg/zhuli%2Fother%2Fxc%2Fjs/prefixfree.min.js"></script>

<script src="http://bcs.duapp.com/xytimg/zhuli%2Fother%2Fxc%2Fjs%2Findex.js"></script>








</head>
    <body>
	
	
	
        <div class="container">
	<!--	<a href="13.html" class="lm1"></a>-->
		<div class="jiu"> <img src="http://bcs.duapp.com/xytimg/zhuli%2Fother%2Fxc%2Fjiu.png" width='100%' alt=""></div>
		<div class="shui"> <img src="http://bcs.duapp.com/xytimg/zhuli%2Fother%2Fxc%2Fshui.png" width='100%' alt=""></div>
		
		<div class="you"> <img src="http://bcs.duapp.com/xytimg/zhuli%2Fother%2Fxc%2Fyou.png" width='100%' alt=""></div>
		<div class="bing"> <img src="http://bcs.duapp.com/xytimg/zhuli%2Fother%2Fxc%2Fbing.png" width='100%' alt=""></div>
		
		<div class="lm1">  <img src="<%= toUserObj.wxAvatar %>" / width="80%" height="auto"></div>
		<div class="lm2">  <%= toUserObj.wxName %></div>
		 <img src="http://bcs.duapp.com/xytimg/zhuli%2Fother%2Fxc%2Fbg.jpg" width='100%' alt=""><br>
		
			
		<% if(isMyPage) { %>
          	<div class="anniu" id="btnShare" onclick="mask()"> <img src="http://bcs.duapp.com/xytimg/zhuli%2Fother%2Fxc%2Fhelp.png" width='100%' alt=""></div> 
			
			
			
			<div class="anniu4"> <center><font color="#ffffff">“<%= toUserObj.wxName %>”到达100%，即可点击兑换奖品<br>解救进度</font></center></div>
			
           <div class="duijiang1">  <a href="javascript:;" id="lottery_rule"> <img src="http://bcs.duapp.com/xytimg/zhuli%2Fother%2Fxc%2Fduijiang.png" width='100%' alt=""></a></div>
		   
		  <!--  <button id="startExchange" class="share_timeline1 btn-block">
                <span class="duijiang_button" >选择奖品，确定兑奖</span>
            </button>
			-->
			
			
		
        <% }else{ %>
		<div class="anniu1" id="amenu">  </div>
		<div class="anniu2" id="bmenu">  </div>
		<div class="anniu3"  id="goSupport">  </div>
				<div class="anniu"> <img src="http://bcs.duapp.com/xytimg/zhuli%2Fother%2Fxc%2Fanniu.png" width='100%' alt=""></div>
				
				<div class="anniu4"> <center><font color="#ffffff">选择以上一种方法解救“<%= toUserObj.wxName %>”<br>解救进度</font></center></div>
				
				
				
				<div class="duijiang1">  <a href="#"> <img src="http://bcs.duapp.com/xytimg/zhuli%2Fother%2Fxc%2Fiwant.png" width='100%' alt=""></a></div>
				
				
				
        <%}%>	
			
			
	
		
		<!--<script>
		 var nu=<%= supportScore*10 %>
		 <% if(supportScore>10) { %>
		nu=10;
		
		 <% }else { %>
	
		   <%}%>
		   
		   
		   alert()
		</script>-->
		
		
		 <div class='bar mint' data-percent='<%= supportScore*10 %>' data-skill=''></div>
		
		
	
 
        

		
		
		
		
		
<script>
				$(function(){
					var height=$(window).height();
					$('.main').css('height',height);
					$('#share').click(function(event) {
						$('.main').show();
						setTimeout(function(){
							$('.main').hide();
						},5000)
						
					});
				})
			</script>
		

 
<br> 
       
<script>
	jQuery(function abc(){
		jQuery("#amenu").click(function(){
  		jQuery(".jiu").hide();
		jQuery(".shui").hide();
  		jQuery(".you").show();
		jQuery(".bing").hide();
  		});
  		jQuery("#bmenu").click(function(){
  		jQuery(".jiu").hide();
		jQuery(".shui").show();
  		jQuery(".you").hide();
		jQuery(".bing").hide();
  		});
		jQuery("#goSupport").click(function(){
  		jQuery(".jiu").hide();
		jQuery(".shui").hide();
  		jQuery(".you").hide();
		jQuery(".bing").show();
		
		
		
		
  		});
	})
</script>
            
			
		
        </div>





<!-- mask div -->
<div id="mask" class="mask_box" onclick="mask();">
    <img src="http://wzhfile.qiniudn.com/guide5.png"/>
</div> 
<!-- mask div -->





<!-- Modal -->
<div class="modal fade " id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:320px;margin: 30px auto;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">兑换奖品</h4><br>
		达到100%解救度才能兑换奖品哦
      </div>
      <div class="modal-body"> 
         
		 
		 
		 
		 
		 
		 
		 <div id="divVisitor" class="visitor">


                


                <div class="v-share-surplus">活动剩余时间：
                    <span class="visitor_over_time" id="last_day"></span>天 
                    <span class="visitor_over_time" id="last_hour"></span>小时 
                    <span class="visitor_over_time" id="last_minute"></span>分钟 

                </div>
                <div class="v-prize-get clearfix">
                    <span class="v-prize-get-tip">奖品列表：

                    </span>
                </div>
				

                <% 
                    prizeList.forEach(function(priceObj, i){ 
                %>
                    <% if(priceObj.hasSelect) {%>
                        <ul prizeid ="<%= priceObj._id %>" class="noSelected prize-list-ul v-prize-item-unselect clearfix selected">
                            <li class="v-prize-select-iconcontainer">
                                <span class="v-prize-select-icon"></span>
                            </li>
                    <% } else if(!priceObj.canSelect || myPrizeList.length >= activeObj.activeObj.prizeAmount){ %>
                        <ul prizeid ="<%= priceObj._id %>" class="noSelected prize-list-ul v-prize-item-disabled clearfix">
                            <li class="v-prize-select-iconcontainer">
                                <span class="v-prize-select-icon"></span>
                            </li>
                    <% } else { %>
                          <ul prizeid ="<%= priceObj._id %>" class="canSelected prize-list-ul v-prize-item-unselect clearfix">
                            <li class="v-prize-select-iconcontainer">
                                <span class="v-prize-select-icon"></span>
                            </li>
                    <% } %>
                    <li class="v-prize-item-name">
                        <%= priceObj.name %>
                        <% if(priceObj.hasSelect) {%>
                            (已兑) 
                            <!-- 兑奖码：<%= priceObj.giftId %> -->
                        <% } %>
                    </li>
                    <li class="v-prize-item-surplus"> 剩余<%= priceObj.lastPrizeNumber*2 %>份</li>
                </ul>
                <%
                    })
                %>           
            </div>
		 
		 
		 
		 
		 
		 
		   <button id="startExchange" class="share_timeline1 btn-block">
                <span class="duijiang_button" >选择奖品，确定兑奖</span>
            </button>
		 
		 
		 
		 
		 
		 
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </form>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade " id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:320px;margin: 30px auto;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">助力成功</h4>
      </div>
      <div class="modal-body"> 
            <h4>成功帮TA增加1次助力
			<!--<font id="reduceNumber" style="color:#c00; font-size:18px;"></font>-->
			</h4>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </form>
    </div>
  </div>
</div>










<!-- Modal -->
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:300px;margin: 30px auto; overflow: hidden;">
    <div class="modal-content">
      <div class="modal-header">
        <!--
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      -->
        <h4 class="modal-title" id="myModalLabel">请先完善您的资料，方便我们把奖品发放给您</h4>
      </div>
    <form class="bs-example bs-example-form" role="form">
      <div class="modal-body">      
        <div class="input-group input-group-lg">
          <span class="input-group-addon"  style="padding:0 10px;">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          <input type="text" class="form-control" placeholder="请输入真实姓名" id="appUserName" value="" maxlength="20">
        </div>
        <br/>
        <div class="input-group input-group-lg">
          <span class="input-group-addon" style="padding:0 10px;">
            <span class="glyphicon glyphicon-phone" ></span>
          </span>
          <input type="text" class="form-control" placeholder="请输入手机号码" id="appUserMobile" value="" maxlength="11">
        </div>
      
      </div>
      <div class="modal-footer">
        <!--
      <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      -->
      <button type="button" class="btn btn-primary" id="save_change">保存</button>
      </div>
    </form>
    </div>
  </div>
</div>









<!-- Modal Rank -->
<div class="modal fade " id="rankModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:300px;margin: 30px auto; overflow: hidden;">
    <div class="modal-content">
      <div class="modal-header">
        
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
 
        <h4 class="modal-title" id="myModalLabel">助力排名</h4>
      </div>
      <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>姓名</th>
          <th>集得助力</th>
        </tr>
      </thead>
      <tbody>
       <%  for(var i=0; i<120; i++){ 
            var obj = rankList[i];
            if(!obj) break;
      %>
             <tr>
              <td><%= (i+1) %></td>
              <td><%= obj.userName %></td>
              <td><%= obj.supportCount %></td>
            </tr>
        <% } %> 
       
      
      </tbody>
    </table>
   
    </div>
  </div>
</div>

















<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
<script src="/api/xinyutang/jsconfig?url=<%= jsurl %>" type="text/javascript"></script>

<script type="text/javascript">



var appId = '<%= appId %>'
var appEname = '<%= appEname %>'
var isMyPage = <%= isMyPage %>;
var toUserId = '<%= toUserId %>'
var fromUserId = '<%= fromUserId %>'
var activeId = '<%= activeId %>'
var supportCount = <%= supportCount %>
var supportScore = <%= supportScore %>
var hasAdd = <%= hasAdd %>
var prizeList = <%- JSON.stringify(prizeList) %>
var myPrizeList = <%- JSON.stringify(myPrizeList) %>
var activeObj = <%- JSON.stringify(activeObj.activeObj) %>
var endTime = moment(new Date(activeObj.endTime))
var now = <%= now %>
var timeError = '<%= timeError %>'
var rank = <%- JSON.stringify(rankList) %>
var nearRank = <%- JSON.stringify(nearRankList) %>

window.isAjax = false




<% if (isMyPage){ %>

	
$(function(){

	
	//部署上生产环境，把alert去掉

	if(window.jsticket_error=='1'){
	//	alert('微信jsdk config加载出错')
	//	alert(window.jsconfig)
	}
	if(window.jsticket_error=='0'){
			$('#config').html(JSON.stringify(window.jsconfig))

			wx.config(window.jsconfig);
			wx.ready(function(){

			    // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
			  //  alert('wx jsdk ready')


			    wx.onMenuShareTimeline({
				
	    title: '【助力】你享多了，华府喊你免费喝果汁', // 分享标题
				    link: 'http://menu.xy-tang.com/active/<%= appEname%>?ename=<%= activeObj.activeObj.ename%>&touserid=<%= toUserId %>', // 分享链接
				    imgUrl: 'http://bcs.duapp.com/xytimg/zhuli%2Fhg%2Fhg04281.jpg', // 分享图标

			
				    trigger:function(){
				    	$('#action').append('<p>成功点击分享到朋友圈</p>')
				    },
				    complete:function(){
				    	$('#action').append('<p>完成分享到朋友圈</p>')
				    },
				    success: function () { 
				        // 用户确认分享后执行的回调函数
				        $('#action').append('<p>成功分享到朋友圈</p>')
				    },
				    cancel: function () { 
				        // 用户取消分享后执行的回调函数
				        $('#action').append('<p>用户取消分享到朋友圈</p>')
				    }
				});

				wx.onMenuShareAppMessage({
			
	    title: '【助力】你享多了，华府喊你免费喝果汁', // 分享标题
				    desc: '你没有想多，是你享多了', // 分享描述
				    link: 'http://menu.xy-tang.com/active/<%= appEname%>?ename=<%= activeObj.activeObj.ename%>&touserid=<%= toUserId %>', // 分享链接
				    imgUrl: 'http://bcs.duapp.com/xytimg/zhuli%2Fhg%2Fhg04281.jpg', // 分享图标
					type: 'link', // 分享类型,music、video或link，不填默认为link
				    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
				    trigger:function(){
				    	$('#action').append('<p>成功点击发送给朋友</p>')
				    },
				    complete:function(){
				    	$('#action').append('<p>完成发送给朋友</p>')
				    },
				    success: function () { 
				        // 用户确认分享后执行的回调函数
				        $('#action').append('<p>成功发送给朋友</p>')
				    },
				    cancel: function () { 
				        // 用户取消分享后执行的回调函数
				        $('#action').append('<p>取消发送给朋友</p>')
				    }
				});



			    wx.checkJsApi({
				    jsApiList: ['chooseImage'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
				    success: function(res) {
				    	//alert(JSON.stringify(res))
				        // 以键值对的形式返回，可用的api值true，不可用为false
				        // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
				    }});

			});
			wx.error(function(res){

			    // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
			//    alert('wx.error config出错')
			//    alert(JSON.stringify(res))
			});

			

	}








})







<%} else{ %>



	
$(function(){

	
	//部署上生产环境，把alert去掉

	if(window.jsticket_error=='1'){
	//	alert('微信jsdk config加载出错')
	//	alert(window.jsconfig)
	}
	if(window.jsticket_error=='0'){
			$('#config').html(JSON.stringify(window.jsconfig))

			wx.config(window.jsconfig);
		wx.ready(function(){

			    // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
			//    alert('wx jsdk ready')


			    wx.onMenuShareTimeline({
				
	    title: '【助力】你享多了，华府喊你免费喝果汁', // 分享标题
				    link: 'http://menu.xy-tang.com/active/<%= appEname%>?ename=<%= activeObj.activeObj.ename%>&touserid=<%= toUserId %>', // 分享链接
				    imgUrl: 'http://bcs.duapp.com/xytimg/zhuli%2Fhg%2Fhg04281.jpg', // 分享图标

    
				
				
			
				    trigger:function(){
				    	$('#action').append('<p>成功点击分享到朋友圈</p>')
				    },
				    complete:function(){
				    	$('#action').append('<p>完成分享到朋友圈</p>')
				    },
				    success: function () { 
				        // 用户确认分享后执行的回调函数
				        $('#action').append('<p>成功分享到朋友圈</p>')
				    },
				    cancel: function () { 
				        // 用户取消分享后执行的回调函数
				        $('#action').append('<p>用户取消分享到朋友圈</p>')
				    }
				});

				wx.onMenuShareAppMessage({
				
				
			
	    title: '【助力】你享多了，华府喊你免费喝果汁', // 分享标题
				    desc: '你没有想多，是你享多了', // 分享描述
				    link: 'http://menu.xy-tang.com/active/<%= appEname%>?ename=<%= activeObj.activeObj.ename%>&touserid=<%= toUserId %>', // 分享链接
				    imgUrl: 'http://bcs.duapp.com/xytimg/zhuli%2Fhg%2Fhg04281.jpg', // 分享图标
				   
				    type: 'link', // 分享类型,music、video或link，不填默认为link
				    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
				    trigger:function(){
				    	$('#action').append('<p>成功点击发送给朋友</p>')
				    },
				    complete:function(){
				    	$('#action').append('<p>完成发送给朋友</p>')
				    },
				    success: function () { 
				        // 用户确认分享后执行的回调函数
				        $('#action').append('<p>成功发送给朋友</p>')
				    },
				    cancel: function () { 
				        // 用户取消分享后执行的回调函数
				        $('#action').append('<p>取消发送给朋友</p>')
				    }
				});



			    wx.checkJsApi({
				    jsApiList: ['chooseImage'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
				    success: function(res) {
				   // 	alert(JSON.stringify(res))
				        // 以键值对的形式返回，可用的api值true，不可用为false
				        // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
				    }});

			});
			wx.error(function(res){

			    // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
			 //   alert('wx.error config出错')
			  //  alert(JSON.stringify(res))
			});

			

	}








})


















<% } %>
    



var forwardingCallback = function(){
    if(window.hasAdd) return false;
    //发送请求支持  
}

//遮照功能
var maskObj = $('#mask');
var mask = function () {        
        if(maskObj.is(':visible')){
            maskObj.hide();
        }
        else{
            maskObj.show();
        }
}
//遮照功能



$(function(){

    //定时器更新时间
    var updateLastTime = function(){
        var now = moment()
        var days = endTime.diff(now, 'days')
        var hours = endTime.diff(now, 'hours') - days*24
        var minutes = endTime.diff(now, 'minutes') - days*24*60 - hours*60
        if(minutes<0){
            $('#last_day').html(0)
            $('#last_hour').html(0)
            $('#last_minute').html(0)
        }
        else{
             $('#last_day').html(days)
            $('#last_hour').html(hours)
            $('#last_minute').html(minutes)
        }
       
        return arguments.callee;
    }()

    setInterval(function(){
        updateLastTime()
    },1000*60)
    //定时器更新时间


    //绑定点击事件
    window.selPrizeId = false
    var prizeUl = $('.prize-list-ul')
    $('.prize-list-ul').click(function(){
        var that = $(this)
        if(that.hasClass('noSelected')){
            return false;
        }
        if(that.hasClass('selected')){
            //如果已经领过奖了
            if(myPrizeList.length >= activeObj.prizeAmount){
                return false;
            }
            else{
                window.selPrizeId = false
                that.removeClass('selected')
                return false;
            }
        }

        prizeUl.removeClass('selected')
        that.addClass('selected')
        window.selPrizeId = that.attr('prizeid')

        return false;
    })

    //绑定兑换奖品事件，弹出完善资料对话框
    $('#startExchange').click(function(){
        if(!window.selPrizeId){
            return false;
        }
        if(!isMyPage){
            return false;
        }
        //弹出完善资料框
        $('#myModal').modal({
            backdrop:true
          })
    })
	
	
	
	
	
	 //绑定兑换奖品事件，弹出完善资料对话框
    $('#startRank').click(function(){
        $('#rankModal').modal({
            backdrop:true
          })
    })
    $('.close').click(function(){
        $('#rankModal').modal('hide')
    })

	
	
	
	
	
	
	
	

    //保存按钮
    $('#save_change').click(function(){
        if(window.isAjax) return false
          
        var appUserName = $('#appUserName').val().trim();
        var appUserMobile = $('#appUserMobile').val().trim();
        if(!appUserName || appUserName == '未认证会员'){
          alert('请填写真实姓名')
          return false;
        }
        if(!appUserMobile || !/^[0-9]{11}$/.test(appUserMobile)){
          alert('请输入正确的手机号码')
          return false;
        }

        var q = {
            toUserId:toUserId,
            prizeId:window.selPrizeId,
            truename:appUserName,
            mobile:appUserMobile
        }

          window.isAjax = true
        $.post('/active_data/'+appEname+'/exchangeprize', q, function(d){
          window.isAjax = false
            if(d.error == 1){
                return alert(d.data)
            }
            alert('奖品兑换成功')
            location.reload()

        },'json')

    })
    //保存按钮


    $('#goSupport').click(function(){
        if(window.isAjax) return false

        if(window.hasAdd){
            alert('你已经帮过Ta了')
            return false
        }
        window.isAjax = true
         $.post('/active_data/'+appEname+'/addsupport',{
            activeId:activeId, 
            fromUserId:fromUserId,
            toUserId:toUserId,
        },function(d){
            window.isAjax = false
            if(d.error == 1){
                if(d.data == 'no openid'){
                    alert('身份过期，刷新页面重新支持')
                    return location.reload();
                }
                else{
                    alert(d.data)
                }
                return false;
            } 

            $('#reduceNumber').html(d.data.supportScore)

        //  $('#myModal3').on('hidden.bs.modal', function (e) {
          //        location.reload()
           //     }).modal({
            //        backdrop:false
             // })
setTimeout(alert('帮助他降低了水温'),5000)
            //alert('恭喜您，支持成功')

            
            //alert('恭喜您，支持成功')
            //var n = $('#supportCount').html()-0+1
            //$('#supportCount').html(n)
            window.hasAdd = true;

        },'json')

    })




    $('#lottery_again').click(function(){
        location.reload()
    })

    $('#lottery_rule').click(function(){
        $('#myModal2').modal({
            backdrop:false
          })
    })


})





</script>		
<!--
<p class="bottom_tip">
<a href="#" target="_blank">
	信玉堂技术支持
</a>
</p>
-->


   
<div style="display:none">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd5dfbf4c48c3280b4cf4ca0f43407d09' type='text/javascript'%3E%3C/script%3E"));
</script>

</div>  

    </body>
</html>

