<% include inc/head %>
<%
  var title = '周边配套'
%>
<% include inc/top %>



  <div data-role="content" class="inside_box fw">
    <div id="wrapper" class="wrapper2">
      <div id="scroller" class="e-scroller">

        <ul id="thelist" class="thelist">
           <li class="layout_box01">
      <div class="layout_select01 layout_select02"> 　
        <select id="selCo" class="selectDate" name="selYear" >
          <% coList.forEach(function(obj,i){ 
            if(qCoId && qCoId == obj._id){
                var sel_attr = 'selected="selected"';
            }
            %>
            <option value="<%= obj._id %>" <%= sel_attr %> ><%= obj.coName %></option>
          <% }) %>
        </select>
      </div>
    </li>
      <% list.forEach(function(obj,i){ %>
          <li class="service_li service_li2">
              <span class="near_title"><%= obj.coNearName %></span>
              <a href="tel:<%= obj.coNearTel %>">电话: <%= obj.coNearTel %></a>
              <span>地址: <%= obj.coNearAddr %></span>
              <p><%= obj.coNearDesc %></p>
          </li>
      <% }) %>
        </ul>
       
        
 <% include inc/footPowerBy %> 
 
      </div>
    </div>
  </div>
 <script type="text/javascript">
  $(function(){
    var url = '/view/service/conear?wxuserid='+window.userid

    $('#selCo').change(function(){
        var v = $(this).val();
        location.href = url + '&coId='+v
        return false;
    })


  })
 </script>
<% include inc/foot %>
