<% include inc/head %>
<%
  var title = '一键呼叫'
%>

  <% include inc/top %>

  <div data-role="content" class="inside_box message fw black2 clearfix f16">


      <div class="change_box">
      <div class="msg clearfix">
        <div class="msg1 f16">常发地产400客服热线</div>
        <div class="msg2 f14">400热线</div><a class="msg3 f14" href="tel:4008280288">400-828-0288</a>
      </div>

<% list.forEach(function(obj,i){ %>
      <div class="msg clearfix">
      	<div class="msg1 f16"><%= obj.coName %></div>
        <div class="msg2 f14">楼盘热线</div><a class="msg3 f14" href="tel:<%= obj.coTelphone %>"><%= obj.coTelphone %></a>
        <div class="msg2 f14">商业热线</div><a class="msg3 f14" href="tel:<%= obj.busTelphone %>"><%= obj.busTelphone %></a>
        <div class="msg2 f14">物业热线</div><a class="msg3 f14" href="tel:<%= obj.serviceTelphone %>"><%= obj.serviceTelphone %></a>
      </div>
<% }) %>


<!--
      <div class="msg clearfix msg_font">
      	<p>服务电话试用指南：</p>
        <p>1.销售热线：受理项目基本概况、银行按揭贷款办理及发放、签约办理流程、合同发放等相关问题的咨询。</p>
        <p>2.客服热线：受理房屋交付前,您对万科产品或服务的任何建议和意见。</p>
        <p>3.物业服务中心：受理房屋交付后，您在居住过程中物业管理服务方面的问题。</p>
        <p>4.客户关系中心：受理房屋交付后，您在房屋维修、客户活动等方面对于万科产品或服务的任何建议和意见。</p>
      </div>
-->
    
  	</div>
  </div>
  
 <% include inc/footPowerBy %> 
 <% include inc/foot %>
