<% include inc/head %>
<%
  var title = '业主认证'
%>

<script type="text/javascript" src="/static/Repair.js"></script>
<script type="text/javascript" src="/static/jquery-ui.js" ></script>

<% include inc/top %>
<div data-role="content" class="property_box fw black2 clearfix">

<% 
  if(binderObj.appUserType == 2){
%>
   <div id="divName" class="input_text02_box binderTitle">
      恭喜您成为 <b>vip认证业主</b><br/>
      请至<a data-ajax="false" href="/view/user/card?wxuserid=<%= userObj._id %>" > 会员中心 </a>修改个人信息
   </div>
<%
  }
  else if(binderObj.isNewSubmit == 1){
%>
  <div class="repair_tit01 f16">您的资料正在审核中</div>
<%
}
else if(binderObj.isNewSubmit == 2){
%>
  <div class="repair_tit01 f16">认证不通过，请重新填写资料</div>
<%
}
  else if(binderObj.appUserType == 1){
%>
  <div class="repair_tit01 f16">请完善小区楼盘信息，认证vip业主</div>
<%
  }
%>


<%
  var uname = '请输入您的真实姓名'
  var birth = ''
  var mobile = '请输入11位手机号码'
  var loginName = '请输入登录名,6-20位字母数字'
  var isReadyOnly = ''
  if(binderObj.appUserType && binderObj.appUserType != 0){
    isReadyOnly = 'readonly="readonly"'
  }


  if(userObj.appLoginName && userObj.appLoginName.indexOf('__') == -1){
      loginName = userObj.appLoginName
  }

  if(userObj.appUserName && userObj.appUserName != '未认证会员'){
    uname = userObj.appUserName
  }
  if(userObj.appUserBirth){
    birth = userObj.appUserBirth
  }
  if(userObj.appUserMobile){
    mobile = userObj.appUserMobile
  }

  var sel1 = 'selected="selected"';
  var sel2 = '';
  if(userObj.appUserSex == 0){
      sel1 = ''
      sel2 = 'selected="selected"';
  }

  var build = '请输入楼栋'
  var room = '请输入房号'

  if(binderObj.appUserBuilding){
    build = binderObj.appUserBuilding
  }
  if(binderObj.appUserRoom){
    room = binderObj.appUserRoom
  }

%>

<% 
  if(binderObj.appUserType != 2){
%>


<form id="form1" action="" method="post">

    <div class="input_text02_box" id="divLoginName">
      <p class="f16">登录名：</p>
      <input name="appLoginName" type="text" id="repair_input_text00" onFocus="if(this.value=='请输入登录名,6-20位字母数字') {this.value=''}" onBlur="checkUserName()" value="<%= loginName %>" <%= isReadyOnly %> />
      <span id="wName" class="wrong">必填</span>
    </div>
  <div class="input_text02_box_err_t wrongs" id="wLoginNames" style="display:none;">请输入登录名6-20位字母数字<span></span></div>



    <div class="input_text02_box" id="divName">
      <p class="f16">姓名：</p>
      <input name="appUserName" type="text" id="repair_input_text01" onFocus="if(this.value=='请输入您的真实姓名') {this.value=''}" onBlur="checkName()" value="<%= uname %>" />
      <span id="wName" class="wrong">必填</span>
    </div>
  <div class="input_text02_box_err_t wrongs" id="wNames" style="display:none;">请输入您的真实姓名<span></span></div>

    <div class="repair_tit01 f16">性别</div>
    <div class="layout_box01">
      <div class="layout_select05"> 　
        <select name="appUserSex">

          <option value="1" <%= sel1 %>>男</option>
          <option value="0" <%= sel2 %>>女</option>
        </select>
      </div>
    </div>
    <div class="clear"></div>


    <div class="input_text02_box" id="divAge">
      <p class="f16" id="birthday_p">生日：</p>
      <span id="wAge" class="wrong">必填</span>
    </div>
    <div class="input_text02_box_err_t wrongs" id="wAges" style="display:none;">请输入您的生日<span></span></div>


    <div class="input_text02_box" id="divMobile">
      <p class="f16">电话：</p>
      <input name="appUserMobile" type="tel" id="repair_input_text02" onFocus="if(this.value=='请输入11位手机号码') {this.value=''}" onBlur="checkTel()" value="<%= mobile %>" />
      <span id="wMobile" class="wrong">必填</span>
    </div>
    <div class="clear"></div>
    <div class="input_text02_box_err_t wrongs" id="wTels" style="display:none;">请输入11位手机号码<span></span></div>
    <div class="clear"></div>
    
    <div class="repair_tit01 f16">选择楼盘，vip业主认证需填写</div>
    <div class="layout_box01">
      <div id="divProject" class="repair_select01"> 　
        <select id="selProject" onchange="checkPro()" name="appUserCommunity">

          <option value="" selected="selected">请选择所属楼盘</option>
          <% list.forEach(function(obj,i){ 
            var issle = ''
            if(obj._id == binderObj.appUserCommunity){
               issle = 'selected="selected"';
            }
            %>
            <option value="<%= obj._id %>" <%= issle %> ><%= obj.coName %></option>
          <% }) %>

        </select>
      </div>
    </div>
    <div id="divBuildingArea" class="input_text02_box">
      <p class="f16">楼栋：</p>
      <input name="appUserBuilding" type="text" id="repair_input_text03" onfocus="if(this.value=='请输入楼栋') {this.value=''}" onblur="checkBuildingArea()" value="<%= build %>">
      <span id="wBuildingArea" class="wrong">选填</span></div>
   
    <div id="divRoomNum" class="input_text02_box">
      <p class="f16">房号：</p>
      <input name="appUserRoom" type="text" id="repair_input_text05" onfocus="if(this.value=='请输入房号') {this.value=''}" onblur="checkRoomNum()" value="<%= room %>">
      <span id="wRoomNum" class="wrong">选填</span></div>
    <div id="wAddress" class="input_text02_box_err_t" style="display:none;"><span></span></div>


    <div class="clear"></div>
    <div class="login_btn01 f20"><a href="#" id="submit">提 交</a></div>
<input name="wxuserid" type="hidden" value="<%= userObj._id %>" />
</form>
<% } %>
  </div>


<script type="text/javascript">
$(function(){
  if(browser.versions.ios){
          d_input = '<input name="appUserBirth" type="date" onchange="checkBirthday()" id="reg_birth_text02" placeholder="请输入您的生日" value="yyyy-MM-dd" class="dateInput" value="<%= birth %>"  />';

          $('#birthday_p').after(d_input);

          }
   else{
          d_input = '<input name="appUserBirth" type="text" onchange="checkBirthday()" id="reg_birth_text02"  placeholder="请输入您的生日" data-role="datebox" class="dateInput" value="<%= birth %>" />';
          $('#birthday_p').after(d_input);

          $("#reg_birth_text02").focus(function(){
              $(this).blur();
              }).datepicker({ 
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true
              });
   }


   $('#submit').click(function(){
      var r1 = checkUserName();
      var r2 = checkName();
      var r3 = checkBirthday();
      var r4 = checkTel();
     
      if(!r1 || !r2 || !r3 || !r4 ) return false;

      $.post('/api/user/binder', $('#form1').serialize() ,function(d){
          if(d.error){
            return alert(d.data)
          }
          alert('认证成功,请等待审核');
          setTimeout(function(){
              location.href = location.href;
          },2000)
      },'json')



   })


})

</script>


<% include inc/footPowerBy %>
<% include inc/foot %>
