<% include inc/head2 %>
<% include inc/top %>
<% include inc/left %>

<a type="button" class="btn btn-primary" href="/manger/form/page" style="margin-bottom:10px">返回</a>

 <div id="grid"></div>

<script>
 $(function () {

  $.get('/manger/form/getFormat?formname=<%= formname%>', {}, function(d){//获取form的格式

  		if(d.err){
  			return alert(d.data);
  		}



	 			var customers;
                var DataHost = window.DataHost,
                    dataSource = new kendo.data.DataSource({
                    	type: "json",
                        serverPaging: true,
                        serverSorting: true,
                        batch: true,
                        pageSize: 20,
                        serverFiltering:true,
                        transport: {
                            read:  {
                                url: DataHost + "/manger/form/read?formname=<%= formname%>",
                                type: "post"
                            },
                            update: {
                                url: DataHost + "/manger/form/update?formname=<%= formname%>",
                                type: "post"
                            },
                             create: {
                                url: DataHost + "/manger/form/create?formname=<%= formname%>",
                                type: "post"
                            },
                            destroy: {
                                url:DataHost + "/manger/form/destroy?formname=<%= formname%>",
                                type: "post"
                            }
                        },
                        schema: {
                        	total: "Total",
                           	data: "Data",
                            parse:function(d){
                                if(d && Array.isArray(d.Data)){
                                    d.Data = d.Data.map(function(v){
                                        var keyary = Object.keys(v);
                                        keyary.forEach(function(key){
                                            if('object' == typeof v[key]){
                                                v[key] = JSON.stringify(v[key])
                                            }
                                        })
                                        return v;
                                    })
                                }
                                else if(d){
                                    d.formData = JSON.stringify(d.formData)
                                }   
                                return d;
                            },
                           	model: {
                        	    id:"_id",
                                fields: d.data.dataSource
                            }
                        }
                    });

                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    navigatable: true,
                    pageable: true,
                    height: 2000,
                    columns: d.data.columns,
                    editable: "popup",
                    filterable:true,
                    save:function(e){
                    	e.model.puzzles = customers.value().toString();
                    },
                    edit:function(e){
	                    	
	                    	$.post(DataHost + '/manger/client/read', {skip:0, pageSize:1000}, function(d){
	                    		var d = d.Data;
	                    		d.unshift({"_id":"","desc":"选择商业用户"})
		                    	$('input[name="clientId"]').kendoDropDownList({
			                        dataTextField: "desc",
			                        dataValueField: "_id",
			                        dataSource: d
		                    	});
		                    }, 'json');
		                    		                    
	                    }		
                });
	

  },'json')
									
});

</script>


<style scoped>
.dropdown-header {
    font-size: 1.2em;
}

.dropdown-header > span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    display: inline-block;
    border-style: solid;
    border-width: 0 0 1px 1px;
    padding: .3em .6em;
    width: 312px;
}

.dropdown-header > span:first-child {
    width: 82px;
    border-left-width: 0;
}

.demo-section {
    width: 400px;
    margin: 30px auto 50px;
    padding: 30px;
}
.demo-section h2 {
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 10px;
}
.tag-image {
    width: auto;
    height: 18px;
    margin-right: 5px;
    vertical-align: top;
}
#customers-list {
    padding-bottom: 26px;
}

#customers-list .k-item > span{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    border-style: solid;
    border-width: 0 0 1px 1px;
    vertical-align: top;
    min-height: 95px;
    width: 79%;
    padding: .6em 0 0 .6em;
}

#customers-list .k-item > span:first-child{
    width: 77px;
    border-left-width: 0;
    padding: .6em 0 0 0;
}

#customers-list img {
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.4);
    box-shadow: 0 0 2px rgba(0,0,0,.4);
    width: 70px;
    height: 70px;
}

#customers-list h3 {
    font-size: 1.6em;
    margin: 0;
    padding: 0;
}

#customers-list p {
    margin: 0;
    padding: 0;
}
.k-grid .k-button, .k-edit-form-container .k-button {
margin: 0.2em .16em;
}
.k-multiselect-wrap li {
padding: .1em 1.15em .1em .4em;
position: relative;
}
.k-item{
	bottom:#fff 1px solid !important;
}
.k-item > span {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
display: inline-block;

vertical-align: top;
min-height: 95px;
width: 50%;
padding: .6em 0 0 .6em;
overflow: hidden;
}

</style>

<% include inc/foot %>
