<% include inc/head2 %>
<% include inc/top %>
<% include inc/left %>

<%
    var hostName = '127.0.0.1';
%>
<% if (client.length) { %>
    <% client.forEach(function(cl_v){ %>    
        <h2><%= cl_v.desc %> (<%= cl_v.userName %>，<%= cl_v._id %>)：</h2>
        <h4>用户注册地址：</h4>
        <p><a href="http://<%= hostName %>/platuser/regist?clientid=<%= cl_v._id %>" target="_blank">用户注册-http://<%= hostName %>/platuser/regist?clientid=<%= cl_v._id %></a></p>

        <h4>用户登录地址：</h4>
        <p><a href="http://<%= hostName %>/platuser/login?clientid=<%= cl_v._id %>" target="_blank">用户登录：-http://<%= hostName %>/platuser/login?clientid=<%= cl_v._id %></a></p>


        <% if (cl_v.voteGroup.length) { %>
            <h4>投票组件地址：</h4>
            <% cl_v.voteGroup.forEach(function(obj){ %> 
            <p><a href="http://<%= hostName %>/vote/webindex?groupid=<%= obj.id %>&clientid=<%= cl_v._id %>" target="_blank">web版本投票-<%= obj.title %>-http://<%= hostName %>/vote/webindex?groupid=<%= obj.id %>&clientid=<%= cl_v._id %></a></p>
            <p><a href="http://<%= hostName %>/vote/appindex?groupid=<%= obj.id %>&clientid=<%= cl_v._id %>" target="_blank">微信版投票-<%= obj.title %>-http://<%= hostName %>/vote/appindex?groupid=<%= obj.id %>&clientid=<%= cl_v._id %></a></p>
            <% }) %>
        <% } %>


        <% if (cl_v.puzzleGroup.length) { %>
            <h4>猜谜组件地址：</h4>
            <% cl_v.puzzleGroup.forEach(function(obj){ %> 
            <p><a href="http://<%= hostName %>/puzzle/webindex?puzzleid=<%= obj.id %>&clientid=<%= cl_v._id %>" target="_blank">web版本猜谜-<%= obj.title %>-http://<%= hostName %>/puzzle/webindex?puzzleid=<%= obj.id %>&clientid=<%= cl_v._id %></a></p>
            <p><a href="http://<%= hostName %>/puzzle/appindex?puzzleid=<%= obj.id %>&clientid=<%= cl_v._id %>" target="_blank">微信版猜谜-<%= obj.title %>-http://<%= hostName %>/puzzle/appindex?puzzleid=<%= obj.id %>&clientid=<%= cl_v._id %></a></p>
            <% }) %>
        <% } %>

        <% if (cl_v.lotteryGroup.length) { %>
            <h4>抽奖组件地址：</h4>
            <% cl_v.lotteryGroup.forEach(function(obj){ %> 
            <p><a href="http://<%= hostName %>/lottery/webindex?groupid=<%= obj.id %>&clientid=<%= cl_v._id %>" target="_blank">web版本抽奖-<%= obj.title %>-http://<%= hostName %>/lottery/webindex?groupid=<%= obj.id %>&clientid=<%= cl_v._id %></a></p>
            <p><a href="http://<%= hostName %>/lottery/appindex?groupid=<%= obj.id %>&clientid=<%= cl_v._id %>" target="_blank">微信版抽奖-<%= obj.title %>-http://<%= hostName %>/lottery/appindex?groupid=<%= obj.id %>&clientid=<%= cl_v._id %></a></p>
            <% }) %>
        <% } %>

        
    <% }) %>
<% } %>


<% include inc/foot %>
