<% include inc/headfile_v2 %>

<section class="main animated fadeInDown">
    <div class="main-box">
        <div class="rule-detail border-box">
            <h1><%= doc.title %></h1>
            <div class="detail_div">
        <% doc.picture.forEach(function(path){ %>
          <img src="<%= path %>" class="contentImg" /><br>
        <% }) %>
        <%- doc.content %>
	        </div>            
        </div>
        <br/>
        <% if(doc.type == 1){%>
         <a class="btn" href="/view/user/recommend_v2?wxuserid=<%= userObj._id %>&communityid=<%= doc.code2%>">
                我要推荐此楼盘
            </a>
        <% }else { %>
            <a class="btn" href="/view/user/recommend_v2?wxuserid=<%= userObj._id %>">
                我要推荐
            </a>
        <%}%>
    </div>
</section>


<% include inc/foot_v2 %>