<ul class="home-nav fn-clear">


            <% if(binderObj.appUserType == 0) {%>
    			<li class="nav-recommend"><a href="/view/user/regist_v2?wxuserid=<%= userObj._id %>">我要推荐<label>hot</label><br /><span>Recommend</span></a></li>

    			<li class="nav-rule"><a href="/view/user/regist_v2?wxuserid=<%= userObj._id %>">我的客户<br /><span>Client</span></a></li>
            <%}else{%>
                <li class="nav-recommend"><a target="_blank" href="/view/user/recommend_v2?wxuserid=<%= userObj._id %>">我要推荐<label>hot</label><br /><span>Recommend</span></a></li>
                <li class="nav-rule"><a target="_blank" href="/view/user/recrecord_v2?wxuserid=<%= userObj._id %>">我的客户<br /><span>Client</span></a></li>
            <%}%>



			<li class="nav-commission"><a target="_blank" href="/view/service/newsdetail_v2?newsId=54b3b2b93bd5b9db4f1ce758&wxuserid=<%= userObj._id %>"><p>使用指南<br /><span>Project</span></p></a></li>
			<li class="nav-rule-detail"><a target="_blank" href="/view/user/transac?wxuserid=<%= userObj._id %>">我的佣金<br /><span>my commission</span></a></li>
		</ul>
     		
        <div class="sale-box">
			<h6>在售项目</h6>
			<div class="floor-box">
				    <!-- <div class="floor-detail">
                        <figure class="floor-img">
                            <img src="http://wkmixtown.qiniudn.com/broke%2Fwanke_proj.jpg" alt="">
                        </figure>
                    </div> -->

                    <% newsList.forEach(function(obj){ 
                        if(obj.type == 2) return
                    %>
                            <div class="floor-detail">
                                <div class="floor">
                                    <h5><a target="_blank" href="/view/service/newsdetail_v2?newsId=<%=obj._id%>&wxuserid=<%= userObj._id %>" >
                                        <%=obj.title%>
                                    </a></h5>
                                        <div class="award fn-clear">
                                            <!-- <label class="award-title">佣金</label> -->
                                            <div class="award-list">
                                                <span><%=obj.code1%></span><br />
                                            </div>
                                        </div>
                                        <div class="floor-detail">
                                             <a target="_blank" href="/view/service/newsdetail_v2?newsId=<%=obj._id%>&wxuserid=<%= userObj._id %>" >
                                            <figure class="floor-img">
                                                <img src="<%= obj.picture[0] %>" alt="" />
                                            </figure>
                                            </a>
                                        </div>
                                        <h3>
                                            售楼处地址：<%=obj.code3 %>
                                        </h3>
                                        <h3>
                                            咨询热线：<a href="tel:<%=obj.url%>"><%=obj.url %></a></h3>
                                        <!--激励部分-->
                                        <div class="award fn-clear">
                                            <div class="award-list"></div>
                                            <!--备注部分-->
                                        </div>
                                </div>
                            </div>
                    <% })%>
		  </div>
	   </div>