<!DOCTYPE>
<html>
<head>
<meta name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<link href="http://piccvote.qiniudn.com/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
<link href="http://piccvote.qiniudn.com/dist/css/flat-ui-pro.css" rel="stylesheet">
<link href="http://piccvote.qiniudn.com/assets/css/docs.css" rel="stylesheet">

<style type="text/css">
	h1,h2,h3,h4,h5,h6,p,.yh{
		font-family: '微软雅黑' !important;
	}

	.clear{zoom:1;}
	.clear:after{clear:both;content:'';display:block;}

	#main_pic{
		margin: 10px auto 0;
		display: block;
	}
	.rule-title h5{
		font-size:16px;
		float: left;
		line-height: 30px;
	}
	#rules_btn{
		margin-top: 10px;
		float: right;
	}
	.demo-title h5{
		float: left;
	}
	.shake_btn{
		margin-top: 10px;
		float: right;
	}
	.demo-content-wide .col-xs-3{
		text-align: center;
		margin-bottom: 10px;
	}
	.hide{
		display: none;
	}

	.back_btn{
		margin-top: 10px;
	}
	.group_blk{
		width: 100%;
		position: relative;
		height: 181px;
		border-top: #eeeff3 1px solid;
	}
	.group_blk .group_blk_face{
		width: 110px;
		height: 110px;
		border-radius: 110px;
		display: block;
		position: absolute;
		top: 10px;
		left: 20px;
	}
	.group_blk .group_more{
		width: 110px;
		display: block;
		position: absolute;
		top: 130px;
		left: 20px;
	}
	.group_blk .group_vote{
		display: block;
		position: absolute;
		top: 95px;
		left: 170px;
		z-index: 2;
	}
	span.group_vote{
		color:#bcc4c7;
	}
	.group_blk .group_info{
		width: 250px;
		height: 68px;
		overflow: hidden;
		line-height: 30px;
		color: #34495e;
		position: absolute;
		top: 25px;
		left: 170px;
	}

	.group_rank{
		display: block;
		padding-top: 5px;
	}
	.group_up{
		color:#e54c3c;
	}
	.group_down{
		color:#286498;
	}
	.modal-body{
		position: relative;
	}
	.modal_face_line{
		width: 100%;
		height: 120px;
		overflow: hidden;
		position: relative;
	}
	.modal_face_line .modal_face{
		width: 110px;
		height: 110px;
		border-radius: 110px;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}
	.modal_face_line .modal_item_info{
		width: 250px;
		height: 65px;
		line-height: 30px;
		display: block;
		position: absolute;
		top: 0;
		left: 130px;
		color: #34495e;
	}
	.modal_face_line .group_vote{
		display: block;
		position: absolute;
		top: 70px;
		left: 130px;
	}
	#item_success_modal .modal-dialog{
		margin: 20% 40px
	}
	#item_info_modal .modal-dialog{
		margin: 5% 10px
	}

	/*  */
	.shake_bg{
		width: 363px;
		height: 308px;
		position: relative;
		margin: 10% auto;
		background: url(http://piccvote.qiniudn.com/shake_bg.png) center 0 no-repeat;
	}
	#shake h2 {
		text-align: center;
	}
	.shake_btn2{
		margin: 10px auto;
	}
	.shake_face{
		width: 250px;
		height: 250px;
		border-radius: 250px;
		margin: 10px auto 15px;
		display: block;
	}
	.shake_info_box{
		width: 300px;
		height: 70px;
		margin: 10px auto 0;
		display: block;
		position: relative;
		line-height: 30px;
		color: #34495e;
		
	}
	.shake_info_box .group_vote{
		display: block;
		position: absolute;
		top: 10px;
		right: 0;
	}
	.loading_box{
		width: 100%;
		height: 100%;
		background: url(http://piccvote.qiniudn.com/loading.gif) center center no-repeat;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
		opacity: 0.6;
		background-color: #fff;
	}
	.shake_start_wrap{
		text-align: center;
	}
	.modal_suc_box{
		color:#16a085;
		text-align: center;
	}
	#shake_start h5{
		margin: 0 auto 20px;
	}
	#group_sel_box{
		margin-top: 10px;
	}
</style>

<%- newrelic.getBrowserTimingHeader() %>

</head>
<body>
<!-- 主页面 -->
<div id="main" class="container-fluid" >
	<img id="main_pic" src="http://www.uc55.com/Cms_Data/Contents/qipai/Media/ad/744-310-0904.jpg" class="img-rounded img-responsive" />
	<div class="rule-title clear">
		<h5>活动规则：</h5>
		<button id="rules_btn" class="btn btn-primary yh btn-info" data-toggle="modal" data-target="#rules">
	      <span class="fui-list-columned"></span>
	      详细规则
	    </button>
	</div>
		<%- voteObj.descShort %>
	<div class="rule-title clear">
      <h5>请选择地区：</h5>
        <button name="shake_btn_main" class="btn btn-primary yh shake_btn">
	      <span class="fui-resize"></span>
	      不知道选谁？摇一摇
	    </button>
    </div>
    <div id="group_sel_box" class="demo-content-wide row show-grid">

    	<% groupList.forEach(function(groupObj){ %>
    		<div class="col-xs-3 col-sm-4">
    			<% 
	    			if(groupObj.count >=500){
	    				var btnClass = 'btn-danger'
	    			}
		    		else{
		    			var btnClass = 'btn-default'
		    		}
    			%>
	    		<a href="javascript:;" name="group_more_info" class="btn btn-lg <%= btnClass %>" groupid="<%= groupObj._id %>">
	    		<%= groupObj.title %></a>
	    		
	   		</div>
    	<% }) %>
	</div>
</div>
<!-- 主页面 -->



<!-- 列表页 -->
<div id="list" class="container-fluid" style="display:none;">
	<a name="back_btn" class="btn btn-primary yh btn-info back_btn">
	      <span class="fui-arrow-left"></span>
	      返回
	</a>
	<div class="rule-title clear">
      <h5>请选择投票人：</h5>
      <button name="shake_btn_list" class="btn btn-primary yh shake_btn">
	      <span class="fui-resize"></span>
	      不知道选谁？摇一摇
	  </button>
    </div>
    <div id="group_list_box" class="demo-content-wide row show-grid">


<!--
    	<div class="group_blk">
    		<img src="http://www.6998.com/Cms_Data/Contents/MainDB/Media/game/gc.jpg" class="group_blk_face" />
    		<a href="javascript:;" class="btn btn-default yh btn-sm group_more" itemid="1">详细资料</a>
    		<div class="group_info yh">
    			No.1 林志玲<br/>
    			票数：12345
    			<span class="group_rank group_up yh">
    				<span class="fui-triangle-up"></span>
    				今日上升 4 位
    			</span>
    		</div>
    		<a href="javascript:;" class="btn btn-info yh btn-lg group_vote" itemid="1">
    			<span class="fui-heart"></span> 给他投票
    		</a>
    	</div>
-->


    </div>
</div>
<!-- 列表页 -->



<!-- 摇一摇 -->
<div id="shake" class="container-fluid" style="display:none;">
	<a name="back_btn" class="btn btn-primary yh btn-info back_btn">
	      <span class="fui-arrow-left"></span>
	      返回
	</a>

	<div id="shake_start" class="shake_start_wrap">
		<div class="shake_bg"></div>
		<h6>摇一摇，找出和你有缘的候选人</h6>
		<button name="shake_start" class="btn btn-primary yh shake_btn2">
	      <span class="fui-resize"></span>
	      不知道选谁？摇一摇
	    </button>
	</div>

	<div id="shake_info" style="display:none;">
		<img id="shake_face" src="" class="shake_face" />
		<button id="shake_info_btn" name="group_item_more" groupid="" itemid="" class="btn btn-default yh shake_btn2">
	      详细信息
	    </button>
	    <div id="shake_info_box" class="shake_info_box yh">
	    	
	    </div>
		<button name="shake_start" class="btn btn-primary yh shake_btn2">
	      <span class="fui-resize"></span>
	      和<font id="shake_ta">他</font>不来电？再摇一次吧！
	    </button>
	</div>

</div>
<!-- 摇一摇 -->




<!-- modal div -->


<!-- 规则详细modal -->
<div class="modal" id="rules" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
        <h6 class="modal-title">活动规则</h6>
      </div>

      <div class="modal-body">
        <p><%- voteObj.desc %></p>
      </div>

      <div class="modal-footer">
        <a href="javascript:;" data-dismiss="modal" aria-hidden="true" class="btn btn-primary btn-wide">关闭</a>
      </div>
    </div>
  </div>
</div>
<!-- 规则详细modal -->



<!-- 规则详细modal -->
<div class="modal" id="item_info_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
        <h6 class="modal-title">投票人信息</h6>
      </div>

      <div class="modal-body" id="modal_item_box">
        	
      </div>

      <div class="modal-footer">
        <a href="javascript:;" data-dismiss="modal" aria-hidden="true" class="btn btn-primary btn-wide">关闭</a>
      </div>
    </div>
  </div>
</div>
<!-- 规则详细modal -->



<!-- 投票成功 -->
<div class="modal " id="item_success_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
        <h6 class="modal-title">操作成功</h65>
      </div>

      <div class="modal-body" id="modal_item_box">
        	<h5 class="modal_suc_box">您投票成功，谢谢参与！</h5>
      </div>
    </div>
  </div>
</div>
<!-- 投票成功 -->




<!-- modal div -->


<div id="loading_box" class="loading_box" style="display:none"></div>

<div style="display:none;">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F4d70084ab8a23d1e8e76861a9553677d' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>



<script src="http://piccvote.qiniudn.com/dist/js/vendor/jquery.min.js" type="text/javascript"></script>
<script src="http://wzhfile.qiniudn.com/jquery.cookie.js"  type="text/javascript"></script>
<script src="http://wzzy2014skin.qiniudn.com/bootstrap/js/bootstrap.min.js"></script>
<script src="http://wzhfile.qiniudn.com/moment.js" type="text/javascript"></script>
<script src="http://piccvote.qiniudn.com/dist/js/flat-ui-pro.js"></script>
<script src="http://piccvote.qiniudn.com/assets/js/prettify.js"></script>
<script src="http://piccvote.qiniudn.com/assets/js/application.js"></script>
<script src="/static/shake.js"></script>
<script src="/static/wx_share.js"></script>

<script type="text/javascript">
var voteObj = <%- JSON.stringify(voteObj) %>
var voteEname = '<%= ename %>'
var appId = '<%= appId %>'
var appEname = '<%= appEname %>'
var userid = '<%=  userid %>'
var wxuobj = <%- JSON.stringify(wxuobj) %>
var groupList = <%- JSON.stringify(groupList) %>
window.isAjaxIng = false;
//这里需要根据后台设置的间隔时间做调整
window.isforward_today = moment().hour(23).minute(59).second(59)
window.isforward_today = new Date(window.isforward_today)
window.itemList = []
window.itemShakeList = []


var forwardingUrl = 'http://mp.weixin.qq.com/s?__biz=MjM5ODA2NzA4OQ==&mid=201261305&idx=1&sn=06bac8fe654d94dd3a30efd0619f28e1#rd';
var forwardingImg = 'http://wzzy2014skin.qiniudn.com/wk_zp2014/wk_zp2014_logo.jpg'
var forwardingTitle ='万科过生日，全城送红包'
var forwardingDesc ='1984-2014万科30周年，万元红包全城大派送'
var forwardingCallback = function(){
	//alert(111)
	$.cookie('isForward', '1', { expires: window.isforward_today, path: location.pathname });

}

$(function(){
	window.backDiv = $('#main')

	$('#rules_btn').click(function(){
		$('#rules').modal()
		return false;
	})
	var loading_box = $('#loading_box')
	var loading = function(){
		loading_box.fadeIn(500)
	}
	var hideLoding = function(){
		loading_box.fadeOut(500)
	}

	var goToDiv = function(domid){
		$('#main').hide()
		$('#list').hide()
		$('#shake').hide()
		$('#'+domid).show()
		if(domid == 'list'){
			window.backDiv = 'main'
		}
	}

	var shake_init = function(){
		$('#shake_start').show();
		$('#shake_info').hide();
	}

	//摇一摇之后的回调函数
	var start_shake = function(){
		start_shake_ajax(function(itemobj){
			putShakeObj(itemobj)
			shake_init()
			goToDiv('shake')
			$('#shake_start').hide()
			$('#shake_info').show()
		})
	}

	var start_shake_ajax = function(cb){
		if(window.isAjaxIng) return false;
		window.isAjaxIng = true;
		loading();

		var randomPos = Math.floor(Math.random() * groupList.length)
		var randomGroupid = groupList[randomPos]._id.toString();

		$.get('/vote/'+appEname+'/items', 
			{
				groupid:randomGroupid,
				ename:voteEname
			}, 
			function(d){
			if(d.error == 1) return alert(d.data);
			window.itemShakeList = d.data;
			var goodList = [] //随机可投票数组，优先使用可投票数组
			var badList = []  //随机不可投票数组
			var perLimit = window.voteObj.intervalPerUserTimes

			updateVoteInfo(randomGroupid, function(){
				window.isAjaxIng = false;

				itemShakeList.forEach(function(itemobj, i){
					var itemid = itemobj._id.toString();
					var c = 0;
					var cf = 0;
					itemobj.pos = i + 1;//记录排名

					window.recordList.forEach(function(recObj){
						if(recObj.isForward == 1 && itemid == recObj.itemId){
							cf++
						}
						if(recObj.isForward == 0 && itemid == recObj.itemId){
							c++
						}
					})//end window.recordList.forEach

					//完全符合条件，未满足投票上限用户
					if(c<perLimit){
						goodList.push(itemobj)
					}
					//满足转发投票条件
					else if(c>=perLimit && cf<perLimit && getIsForward()){
						goodList.push(itemobj)
					}
					//其他
					else{
						badList.push(itemobj)
					}

				})//生成filter数组，如果有可能尽量显示用户没有投票过的人

				//产生随机用户
				//如果没有可投票用户，使用badlist
				if(goodList.length == 0){
					var rPos = Math.floor(Math.random() * badList.length)
					var cbObj = badList[rPos]
					
				}
				else{
				//当goodList有用户，则使用goodlist
					var rPos = Math.floor(Math.random() * goodList.length)
					var cbObj = goodList[rPos]
					
				}
				setTimeout(function(){
					cb(cbObj)
					hideLoding()//关闭loading
				},2000)
				

			})//end updateVoteInfo
		})//end $.get
	}


	var putShakeObj = function(itemobj){
			$('#shake_face').attr('src', itemobj.pictureThumb)
			$('#shake_info_btn').attr('itemid', itemobj._id)
								.attr('groupid', itemobj.groupId)

			var voteStr = getVoteType(itemobj)
			var tmpstr = 'No.'+itemobj.pos+' '+itemobj.title+'<br/>'+
	    				 '票数：<font itemid="'+itemobj._id+'">'+itemobj.totalNumber+'</font>'+voteStr
			$('#shake_info_box').html(tmpstr)
	}


	var getIsForward = function(){
		var is_f = $.cookie('isForward')
		if(is_f == '0' || !is_f) return false
		return is_f
	}

	var updateVoteInfo = function(groupid, cb){
		var cb = cb || $.noop;
		if(groupid){
			var q = {groupid:groupid, ename:voteEname}
		}
		else{
			var q = {ename:voteEname}
		}
		
		$.get('/vote/'+appEname+'/info', q, function(d){
			if(d.error == 1){
				window.isAjaxIng = false;
				return alert(d.data);
			} 
			window.recordList = d.data.record
			//window.voteObj = d.data.voteObj
			cb(d.data)
		},'json')
	}

	var getVoteType = function(itemobj, useSm){
		var itemid = itemobj._id.toString();
		var c = 0
		var cf = 0
		var perLimit = window.voteObj.intervalPerUserTimes
		var voteType = 1; //可投票状态，1表示可投票，2表示不可投票，3表示转发后可投票
		var btnClass = useSm ? 'btn-sm' : 'btn-lg'
		var ta = '他'
		if(itemobj.sex == 0) ta = '她'

		window.recordList.forEach(function(recObj){
			if(recObj.isForward == 1 && itemid == recObj.itemId){
				cf++
			}
			if(recObj.isForward == 0 && itemid == recObj.itemId){
				c++
			}
		})//end todayRecordList.forEach
		if(window.voteObj.forwardTimes > 0){ //允许转发情况
			if(c>=perLimit && cf>=perLimit){
				voteType = 2
			}
			else if(c>=perLimit && cf<perLimit && !getIsForward()){
				voteType = 3
			}
			else{
				voteType = 1
			}
		}
		else{//不允许转发情况
			if(c >= perLimit){
				var voteType = 2
			}
			else{
				var voteType = 1
			}
		}
		if(voteType == 1){
			var voteStr = '<a name="start_vote" href="javascript:;" class="btn btn-info yh '+btnClass+' group_vote yh" groupid="'+itemobj.groupId+'" itemid="'+itemid+'">'+
				'<span class="fui-heart"></span> 给'+ta+'投票</a>'
		}
		else if(voteType == 2){
			var voteStr = '<span class="group_vote yh">已经支持过啦</span>'
		}
		else if(voteType == 3){
			var voteStr = '<span class="group_vote yh">转发可再次支持哦</span>'
		}
		return voteStr
	}

	//根据groupid加载列表
	var getItemList = function(groupid){
		loading()
		$('#list').show()
		$('#group_list_box').empty();
		$.get('/vote/'+appEname+'/items', {groupid:groupid, ename:voteEname}, function(d){
			hideLoding();
			if(d.error == 1) return alert(d.data);
			updateVoteInfo(groupid, function(d2){
				var itemList = d.data;
				window.itemList = itemList;
				var todayRecordList = window.recordList
				

				var blk_s = ''
				itemList.forEach(function(itemObj,pos){
					var itemid = itemObj._id.toString()				
					var numberPos = pos + 1;
					
					var voteStr = getVoteType(itemObj, true) //获取投票处按钮

					//当有昨天的排名数据，进行判断上升还是下降
					var posStr = ''
					if(itemObj.lastdayVoteOrder != 0){
						//表示上升
						if(itemObj.lastdayVoteOrder - numberPos >0){
							posStr = '<span class="group_rank group_up yh">'+
	    								 '<span class="fui-triangle-up"></span>'+
	    								 '今日上升 '+(itemObj.lastdayVoteOrder - numberPos)+' 位</span>'

						}
						//表示下降
						else if(numberPos - itemObj.lastdayVoteOrder > 0){
							posStr = '<span class="group_rank group_up yh">'+
	    								 '<span class="fui-triangle-down"></span>'+
	    								 '今日下降 '+(numberPos - itemObj.lastdayVoteOrder)+' 位</span>'

						}
					}
					
					//拼接模版
					blk_s += '<div class="group_blk">'+
					'<img src="'+itemObj.pictureThumb+'" class="group_blk_face" />'+
					'<a name="group_item_more" href="javascript:;" class="btn btn-default yh btn-sm group_more" itemid="'+itemid+'">详细资料</a>'+
	    			'<div class="group_info yh">'+
	    			'No.'+numberPos+' '+itemObj.title+'<br/>'+
	    			'票数：<font itemid="'+itemid+'">'+itemObj.totalNumber+'</font></div>'+voteStr+'</div>'

				})//end itemList.forEach

				$('#group_list_box').html(blk_s)

			})


		}, 'json')

	}//end getItemList function


	var getItemInfo = function(itemid, list){
		//循环查找iobj
		var itemObj = {}
		var pos = 0
		var foreachList = list || window.itemList
		foreachList.forEach(function(iobj, p){
			if(iobj._id.toString() == itemid){
				itemObj = iobj
				pos = p+1
			}
		})
		if(!itemObj._id){
			alert('获取投票人信息失败')
			return false;
		}
		var voteStr = getVoteType(itemObj,true)
		var sex = itemObj.sex == 0 ? '女' : '男'

		var modal_str = '<div class="modal_face_line">'+
						'<img src="'+itemObj.pictureThumb+'" class="modal_face"/>'+
						'<span class="modal_item_info yh">'+
        				'No.'+pos+' '+itemObj.title+'<br/>票数：<font itemid="'+itemid+'">'+itemObj.totalNumber+'</font></span>'+voteStr+
        				'</div><div  class="row show-grid yh">'+
		        		'<div class="col-xs-6 col-sm-6">地区：'+itemObj.groupName+'</div>'+
		        		'<div class="col-xs-6 col-sm-6">年龄：'+itemObj.age+'</div>'+
		        		'<div class="col-xs-6 col-sm-6">性别：'+sex+'</div>'+
		        		'<div class="col-xs-6 col-sm-6">工号：'+itemObj.number+'</div></div>'+
        				'<div class="yh">'+
			        	'<h6>简介：</h6>'+itemObj.desc+'<h6>优秀事迹：</h6>'+itemObj.desc2+'</div>'

		$('#modal_item_box').html(modal_str)
		$('#item_info_modal').modal()
		return false;
	}


	var startVoteFn = function(that){
		if(window.isAjaxIng) return false;

		var itemid = that.attr('itemid');
		var groupid = that.attr('groupid');
		var isForward = getIsForward();
		//获取原来的按钮是否是小的
		var isSmBtnClass = that.hasClass('btn-sm') ? true : false
		var perLimit = window.voteObj.intervalPerUserTimes

		//循环判断是否需要加上isforward
		if(isForward){
			var c = 0;

			window.recordList.forEach(function(recObj){
				//计算非转发下的投票此用户数量
				if(recObj.itemId == itemid && recObj.isForward == 0){
					c++
				}
			})
			//只有当记录超过限制，才使用isForward的机会
			if(c >= perLimit){
				var q = {
					itemid:itemid,
					isforward:1
				}
			}
			else{
				var q = {
					itemid:itemid
				}
			}
		}
		else{
			var q = {
				itemid:itemid
			}
		}

				
		$.post('/vote/'+appEname+'/start', q, function(d){
			if(d.error == 1){
				window.isAjaxIng = false;
				return alert(d.data);
			} 
			updateVoteInfo(groupid, function(){
				var itemobj;
				window.itemList.forEach(function(iobj){
					if(iobj._id.toString() == itemid){
						itemobj = iobj
					}
				})//end foreach
				if(!itemobj){//如果没找到
					window.itemShakeList.forEach(function(iobj){
						if(iobj._id.toString() == itemid){
							itemobj = iobj
						}
					})//end foreach
				}


				var voteStr = getVoteType(itemobj, isSmBtnClass)
				$('a[name="start_vote"]').each(function(){
					var that = $(this)
					var itemid2 = that.attr('itemid')
					if(itemid2 == itemid){
						var pobj = that.parent();
						that.remove();
						pobj.append(voteStr)
					}
				})


				$('font[itemid="'+itemid+'"]').each(function(){
					var oldNumber = $(this).html() - 0;
					$(this).html(oldNumber+1)
				})
				itemobj.totalNumber = itemobj.totalNumber + 1

				$('#item_success_modal').modal({})
				window.isAjaxIng = false;
				updateVoteInfo()
			})
		})
	}


//bind click
	//绑定首页点击分组
	$('#group_sel_box').delegate('a[name="group_more_info"]','click',function(e){
		var that = $(this)
		var groupid = that.attr('groupid')
		shake_init();
		goToDiv('list')
		getItemList(groupid);
	})

	//点击更多详细信息
	$('#group_list_box').delegate('a[name="group_item_more"]','click',function(e){
		var that = $(this)
		var itemid = that.attr('itemid')
		getItemInfo(itemid)
	//点击开始投票
	}).delegate('a[name="start_vote"]','click',function(e){
		var that = $(this)
		var groupid = that.attr('groupid')
		updateVoteInfo(groupid, function(){
			startVoteFn(that)
		})
		
	})

	//在摇一摇详细信息里面的按钮
	$('#shake_info_btn').click(function(){
		var that = $(this)
		var itemid = that.attr('itemid')
		getItemInfo(itemid, window.itemShakeList)
	})

	$('#modal_item_box, #shake_info_box').delegate('a[name="start_vote"]','click',function(e){
		var that = $(this)
		var groupid = that.attr('groupid')
		updateVoteInfo(groupid, function(){
			startVoteFn(that)
		})
	})

	//返回
	$('a[name="back_btn"]').click(function(){
		shake_init();
		goToDiv(window.backDiv)
	})

	//点击开始摇一摇
	$('button[name="shake_start"]').click(function(){
		start_shake();
		return false;
	})

	//点击进入摇一摇界面
	$('button[name="shake_btn_main"]').click(function(){
		window.backDiv = 'main'
		shake_init()
		goToDiv('shake')
		return false;
	})
	$('button[name="shake_btn_list"]').click(function(){
		window.backDiv = 'list'
		shake_init()
		goToDiv('shake')
		return false;
	})
	
	


	//初始化，并监听摇一摇事件
	shake_init(function(){ 
		start_shake();
	})

})





</script>



</body>
</html>