<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<script src="http://wzzy2014skin.qiniudn.com/js/jquery.1.11.1.min.js" type="text/javascript"></script>
<script src="http://www.6998cdn.com/uc55_2014/js/jquery.cookie.js"  type="text/javascript"></script>
<script src="http://wzzy2014skin.qiniudn.com/bootstrap/js/bootstrap.min.js"></script>
<script src="http://wzhfile.qiniudn.com/moment.js" type="text/javascript"></script>
<%- newrelic.getBrowserTimingHeader() %>

</head>
<body>
<div class="wrapper">
<%- JSON.stringify(voteObj) %> <br/><br/>
<%- ename %> <br/><br/>
<%- appEname %> <br/><br/>
<%- appId %> <br/><br/>
<%- userid %> <br/><br/>
<%- JSON.stringify(wxuobj) %>



</div>


<div style="display:none;">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F4d70084ab8a23d1e8e76861a9553677d' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</body>
</html>