<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="no-cache" http-equiv="Pragma"></meta>
    <meta content="no-cache" http-equiv="Cache-Control"></meta>
    <meta content="0" http-equiv="Expires"></meta>
    <title>代理人登记</title>
    <script src="http://piccvote.qiniudn.com/dist/js/vendor/jquery.min.js" type="text/javascript"></script>
    <script src="http://wzhfile.qiniudn.com/moment.js" type="text/javascript"></script>
    <link rel="stylesheet" href="http://piccvote.qiniudn.com/lottery/regist.css">
</head>
<body>



    <div class="wrapper"></div>
    <div class="modal formModal">
        <div class="dialog formDialog">
            <input type="text" class="name" maxlength="10">
            <input type="text" class="tel" maxlength ="11" />
            <input type="text" class="num" maxlength="20">
            <input type="text" class="weixin" maxlength="20">
            <input type="button" class="submit">
        </div>
    </div>
    <div class="modal alertModal">
        <div class="dialog alertDialog">
            <input type="button" class="confirm">
        </div>
    </div>
    
    



<script type="text/javascript">
alert('aaaa')

var logCount = <%= logCount %>
var appId = '<%= appId %>'
var appEname = '<%= appEname %>'
var isMyPage = <%= isMyPage %>;
var toUserId = '<%= toUserId %>'
var fromUserId = '<%= fromUserId %>'
var activeId = '<%= activeId %>'
var fromUserObj = <%- JSON.stringify(fromUserObj) %>
var toUserObj = <%- JSON.stringify(toUserObj) %>
var supportCount = <%= supportCount %>
var supportScore = <%= supportScore %>
var hasAdd = <%= hasAdd %>
var prizeList = <%- JSON.stringify(prizeList) %>
var myPrizeList = <%- JSON.stringify(myPrizeList) %>
var activeObj = <%- JSON.stringify(activeObj.activeObj) %>
var endTime = moment(new Date(activeObj.endTime))




window.isAjax = false


$(function(){
    alert(1)
    initWrapperSize();
    alert(2)
    $(".formModal").show();
    bindEvent();
});



function bindEvent(){
    alert(typeof fromUserObj)
    alert(typeof fromUserObj.appUserType)
    alert(fromUserObj.appUserType)
    if(fromUserObj.appUserType == 1){
        alert('本注册页面仅针对业务员开放')
        return
    }

    if(fromUserObj.appUserType == 2){
        alert('您已经登记成功')
        $(".formModal").hide();
        $(".alertModal").show();
        return
    }


    //1013009879043"}, {"name": "刘卫彪", "gh": "1013009888208"}, {"name": "赵宇", "gh":  
    //保存按钮
    $('.submit').click(function(){
        if(window.isAjax) return
        var appUserName = $('.name').val().trim();
        var appUserMobile = $('.tel').val().trim();
        var code1 = $('.num').val().trim();
        var code2 = $('.weixin').val().trim();


        if(!appUserName || appUserName == '未认证会员'){
          alert('请填写真实姓名')
          return false;
        }
        if(!appUserMobile || !/^[0-9]{11}$/.test(appUserMobile)){
          alert('请输入正确的手机号码')
          return false;
        }
        if(!code1){
          alert('请输入正确的工号')
          return false;
        }
        if(!code2){
          alert('请输入正确的微信账号')
          return false;
        }

        var q = {
            userId:toUserId,
            appUserName:appUserName,
            appUserMobile:appUserMobile,
            appUserCode:'',
            appSmsCode:'',
            appUserType:2,
            code1:code1,
            code2:code2,
        }

        window.isAjax = true
        $.post('/api/user/modify?wxuserid='+fromUserId, q, function(d){
            window.isAjax = false
            if(d.error == 1){
                return alert(d.data)
            }
            else{
                $(".formModal").hide();
                $(".alertModal").show();
            }
        },'json')

    })
    //保存按钮

    $(".confirm").click(function(){
        alert('5月1日活动开启，敬请期待')
    });

    if(fromUserObj.appUserName &&
     fromUserObj.appUserName != '未认证会员' &&
     fromUserObj.appUserMobile &&
     fromUserObj.appUserType == 2 &&
     fromUserObj.code1 &&
     fromUserObj.code2){
        //已经注册成为了业务员
        $(".formModal").hide();
        $(".alertModal").show();
    }


}



$(window).resize(initWrapperSize);

function initWrapperSize(){
    var windowWidth = $(window).width();
    var windowHeight = $(window).height();
    if(windowWidth<windowHeight){
        if(windowWidth/1616*2495>windowHeight){
            $(".wrapper").css({
                "width":windowHeight/2495*1616,
                "height":windowHeight,
                "background-size":windowHeight/2495*1616 + "px," + windowHeight + "px"
            });         
        } else {
            $(".wrapper").css({
                "width":windowWidth,
                "height":windowWidth/1616*2495,
                "background-size":windowWidth + "px," + windowWidth/1616*2495 + "px"
            });
        }
    } else {
        $(".wrapper").css({
            "width":windowWidth,
            "height":windowWidth/1616*2495,
            "background-size":windowWidth + "px," + windowWidth/1616*2495 + "px"
        });
    }   

    var formWidth = $(".wrapper").width()*(1122/1616);
    var formHeight = $(".wrapper").height()*(1346/2495);
    $(".formDialog").css({
        "width":formWidth,
        "height":formHeight,
        "background-size":formWidth + "px," + formHeight + "px"
    });

    var alertWidth = $(".wrapper").width()*(1122/1616);
    var alertHeight = $(".wrapper").height()*(643/2495);
    $(".alertDialog").css({
        "width":alertWidth,
        "height":alertHeight,
        "background-size":alertWidth + "px," + alertHeight + "px"
    });
}

</script> 



<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
<script src="/api/hz/jsconfig?url=<%= jsurl %>" type="text/javascript"></script>


<script> 
//部署上生产环境，把alert去掉
$(function(){
        if(window.jsticket_error=='1'){

        }
        if(window.jsticket_error=='0'){
                
                wx.config(window.jsconfig);
                wx.ready(function(){

                    wx.hideOptionMenu();
                });
                wx.error(function(res){

                });

                

        }
})

</script> 



<div style="display:none">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd5dfbf4c48c3280b4cf4ca0f43407d09' type='text/javascript'%3E%3C/script%3E"));
</script>

</div>  

</body>
</html>





