<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0"/>
    <meta content="no-cache" http-equiv="Pragma"></meta>
    <meta content="no-cache" http-equiv="Cache-Control"></meta>
    <meta name="format-detection" content="telephone=no" />
    <meta content="0" http-equiv="Expires"></meta>
    <title>代理人登记</title>
    <script src="http://7xit1c.com1.z0.glb.clouddn.com/lottery/jquery.1.11.1.min.js" type="text/javascript"></script>
    <script src="http://7xit1c.com1.z0.glb.clouddn.com/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://7xit1c.com1.z0.glb.clouddn.com/lottery/moment.js" type="text/javascript"></script>
    <link rel="stylesheet" href="http://7xit1c.com1.z0.glb.clouddn.com/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://7xit1c.com1.z0.glb.clouddn.com/lottery/regist2.css">
    <style type="text/css">
        .modal-backdrop{
            z-index: 2;
        }
        .inputDialog input{
            padding-left: 20px;
        }
    </style>
</head>
<body>
<img src="http://piccvote.qiniudn.com/lottery/imgs/200200.jpg" style="display:none"/>

    <div class="modal alertModal">
        <div class="dialog alertDialog">
            <input type="button" class="confirm">
        </div>
    </div>
    <div class="wrapper"></div>


    <div class="inputDialog">
        <input type="text" class="name" maxlength="10">
        <p></p>
        <input type="text" class="tel" maxlength ="11">
        <p></p>
        <input type="text" class="num" maxlength="20">
        <p></p>
        <input type="text" class="weixin" maxlength="20">
        <p></p>
        <input type="button" class="submit">
    </div>



<!-- Modal -->
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:320px;margin: 30px auto;">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>

        <h4 class="modal-title" id="myModalLabel">消息</h4>
      </div>
      <div class="modal-body"> 
        <p id="msg"></p>

      </div>
      <div class="modal-footer">
      <a href="javascript:;" data-dismiss="modal" class="btn btn-default" >确定</a>
      </div>
    </form>
    </div>
  </div>
</div>




<script type="text/javascript">


var logCount = <%= logCount %>
var appId = '<%= appId %>'
var appEname = '<%= appEname %>'
var isMyPage = <%= isMyPage %>;
var toUserId = '<%= toUserId %>'
var fromUserId = '<%= fromUserId %>'
var activeId = '<%= activeId %>'
var fromUserObj = <%- JSON.stringify(fromUserObj) %>
var toUserObj = <%- JSON.stringify(toUserObj) %>


var activeObj = <%- JSON.stringify(activeObj.activeObj) %>
var endTime = moment(new Date(activeObj.endTime))




window.isAjax = false


$(function(){
    
    initWrapperSize();
    bindEvent();
    $(".inputDialog").show();

});



function bindEvent(){

    $(".confirm").click(function(){
        $('#msg').html('回复关键字“业务员名片”，查看个人名片')
        $('#myModal').modal({
                backdrop:true
        })
        
    });

    if(fromUserObj.appUserType == 1){
        $('#msg').html('本注册页面仅针对业务员开放')
        $('#myModal').modal({
                backdrop:true
        })
        $(".formModal").hide();
        return
    }

    if(fromUserObj.appUserType == 2){
        $('#msg').html('您已经登记成功，请点击合众公众号菜单，查看个人名片')
        $('#myModal').modal({
                backdrop:true
        })
        
        $(".formModal").hide();
        //$(".alertModal").show();
        return
    }


    //1013009879043"}, {"name": "刘卫彪", "gh": "1013009888208"}, {"name": "赵宇", "gh":  
    //保存按钮
    $('.submit').click(function(){
        if(window.isAjax) return
        var appUserName = $('.name').val().trim();
        var appUserMobile = $('.tel').val().trim();
        var code1 = $('.num').val().trim();
        var code2 = $('.weixin').val().trim();


        if(!appUserName || appUserName == '未认证会员'){
            $('#msg').html('请填写真实姓名')
            $('#myModal').modal({
                    backdrop:true
            })
          
          return false;
        }
        if(!appUserMobile || !/^[0-9]{11}$/.test(appUserMobile)){
             $('#msg').html('请输入正确的手机号码')
            $('#myModal').modal({
                    backdrop:true
            })
          
          return false;
        }
        if(!code1){
             $('#msg').html('请输入正确的工号')
            $('#myModal').modal({
                    backdrop:true
            })
          
          return false;
        }
        if(!code2){
             $('#msg').html('请输入正确的微信账号')
            $('#myModal').modal({
                    backdrop:true
            })
          
          return false;
        }

        var q = {
            userId:toUserId,
            appUserName:appUserName,
            appUserMobile:appUserMobile,
            appUserCode:'',
            appSmsCode:'',
            appUserType:2,
            code1:code1,
            code2:code2,
        }

        window.isAjax = true
        $.post('/api/user/modify?wxuserid='+fromUserId, q, function(d){
            window.isAjax = false
            if(d.error == 1){
                 $('#msg').html(d.data)
                    $('#myModal').modal({
                            backdrop:true
                    })
                return
            }
            else{
                $(".formModal").hide();
                $('#msg').html('代理人登记成功')
                $('#myModal').modal({
                        backdrop:true
                })
                setTimeout(function(){
                    location.href = location.href
                },1000)
                //$(".alertModal").show();
            }
        },'json')

    })
    //保存按钮
    

    if(fromUserObj.appUserName &&
     fromUserObj.appUserName != '未认证会员' &&
     fromUserObj.appUserMobile &&
     fromUserObj.appUserType == 2 &&
     fromUserObj.code1 &&
     fromUserObj.code2){
        //已经注册成为了业务员
        $('#msg').html('您已经登记成功，请点击合众公众号菜单，查看个人名片')
        $('#myModal').modal({
                backdrop:true
        })
        
        $(".formModal").hide();
    }


}



$(window).resize(initWrapperSize);

function initWrapperSize(){
    var windowWidth = $(window).width();
    var windowHeight = $(window).height();
    if(windowWidth<windowHeight){
        if(windowWidth/1616*2495>windowHeight){
            $(".wrapper").css({
                "width":windowHeight/2495*1616,
                "height":windowHeight,
                "background-size":windowHeight/2495*1616 + "px," + windowHeight + "px"
            });         
        } else {
            $(".wrapper").css({
                "width":windowWidth,
                "height":windowWidth/1616*2495,
                "background-size":windowWidth + "px," + windowWidth/1616*2495 + "px"
            });
        }
    } else {
        $(".wrapper").css({
            "width":windowWidth,
            "height":windowWidth/1616*2495,
            "background-size":windowWidth + "px," + windowWidth/1616*2495 + "px"
        });
    }   

    $(".inputDialog").css({
        // "width":$(".wrapper").width(),
        "height":$(".wrapper").height()*0.382,
        "top":$(".wrapper").height()*0.553
    });

    var alertWidth = $(".wrapper").width()*(1122/1616);
    var alertHeight = $(".wrapper").height()*(643/2495);
    $(".alertDialog").css({
        "width":alertWidth,
        "height":alertHeight,
        "background-size":alertWidth + "px," + alertHeight + "px"
    });
}
</script> 



<!--
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
<script src="/api/hz/jsconfig?url=<%= jsurl %>" type="text/javascript"></script>


<script> 
//部署上生产环境，把alert去掉
$(function(){
        if(window.jsticket_error=='1'){

        }
        if(window.jsticket_error=='0'){
                
                wx.config(window.jsconfig);
                wx.ready(function(){

                    wx.hideOptionMenu();
                });
                wx.error(function(res){

                });

                

        }
})

</script> 
-->


<div style="display:none">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?748c25c2ece0745b163b7030b4721cc1";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>


</div>  

</body>
</html>





