<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0"/>
    <meta content="no-cache" http-equiv="Pragma"></meta>
    <meta content="no-cache" http-equiv="Cache-Control"></meta>
    <meta name="format-detection" content="telephone=no" />
    <meta content="0" http-equiv="Expires"></meta>
	<title>诚邀您参与2015年合众人寿客服节抽奖活动</title>
	<script src="http://7xit1c.com1.z0.glb.clouddn.com/lottery/jquery.1.11.1.min.js" type="text/javascript"></script>
	<script src="http://7xit1c.com1.z0.glb.clouddn.com/lottery/moment.js" type="text/javascript"></script>
	<link rel="stylesheet" href="http://7xit1c.com1.z0.glb.clouddn.com/lottery/card.css?v=20150501">
	<style type="text/css">
		#infoBox p {
			color: #5cf95a;
			line-height: 0.95rem;
			font-size: 0.7rem;
			overflow: hidden;
			font-family: "微软雅黑";
			}
			#beforeScore p:nth-child(6) {
				line-height: 1rem; 
			}
		.green{
			color:#5cf95a !important;
		}
	</style>
</head>
<body>
<div style="display:none;">
<img src="http://piccvote.qiniudn.com/lottery/imgs/200200.jpg" />
</div>

<% if(isMyPage && toUserObj.appUserType != 2) {%>
	<script type="text/javascript">
		//不是业务员进入，直接跳转到注册业务员页面
		location.href = '/active/<%= appEname%>?ename=hz_ywy_reg'
	</script>

<% }else{ %>  
	<div class="wrapper cardWrapper">
		<div id="infoBox">
			<div id="beforeScore">
				<div class="hasScore" style="display:none;">
					<span class=""></span>
					<span class=""></span>
					<span class=""></span>
				</div>
				<p>姓名：<span name="name" class="green"> <%= toUserObj.appUserName %> </span></p>
				<p>手机：<span name="tel" class="green"> <%= toUserObj.appUserMobile %> </span></p>
				<p>工号：<span name="num"><%= toUserObj.code1 %></span></p>
				<p>合众人寿保险股份有限公司官方微信认证<!--代理人--></p>
				<p>诚邀您参加合众人寿十周年客服节活动，请您为我评分并参与抽奖,赢取手机,魔豆等精美礼品</p>

				<% if(!isMyPage) { %>
					<p><span>请为我评分：</span>
						<span class="star"></span>
						<span class="star"></span>
						<span class="star"></span>
						<button type="button" class="setScore" style="display:none;"></button>
					</p>
				<% } %>

			</div>

		</div>
		<% if(!isMyPage && fromUserObj.appUserType!=2) { %>
			<a href="/lottery/<%= appEname%>?ename=hz_ywy_prize&wxuserid=<%= fromUserId %>&ywyuserid=<%= toUserId %>" id="gameStart" ></a>
		<%} %>
	</div>

<% } %>


<div id="scoreModal" class="modal">
<div class="scoreDialog dialog">			
	<input class="scoreBtn" type="button">	
</div>
</div>

<script type="text/javascript">
var logCount = <%= logCount %>
var appId = '<%= appId %>'
var appEname = '<%= appEname %>'
var isMyPage = <%= isMyPage %>;
var toUserId = '<%= toUserId %>'
var fromUserId = '<%= fromUserId %>'
var fromUserObj = <%- JSON.stringify(fromUserObj) %>
var toUserObj = <%- JSON.stringify(toUserObj) %>
var activeId = '<%= activeId %>'
var activeObj = <%- JSON.stringify(activeObj.activeObj) %>
var endTime = moment(new Date(activeObj.endTime))
//var avgStar = 

window.isAjax = false




$(function(){
	initCardInfo();
	initWrapperSize();
	bindEvent();
});

function initCardInfo(){

	window.hasStar = true


	var getAvgScore = function(){
		$.get('/active_data/avgscore', {userid:toUserId}, function(d){
            if(d.error == 1){
                return alert(d.data)
            }
            else{
            	//放业务员平均分
            	var avgscore = d.data
            	var roundScore = Math.round(avgscore)
            	for(var i=0; i<roundScore; i++){
        			$('#beforeScore .hasScore span').eq(i).addClass('active')
        		}
            }
        },'json')
	}()


	if(!isMyPage){
		var getMyScore = function(){
			$.get('/api/hzstarstatus', {
				fromuserid:fromUserId,
				touserid:toUserId
			}, function(d){
	            if(d.error == 1){
	                return alert(d.data)
	            }
	            else{
	            	if(d.data.length >0){
	            		window.hasStar = true
	            		var myScore = d.data[0].starScore
	            		for(var i=0; i<myScore; i++){
	            			$('#beforeScore .star').eq(i).addClass('active')
	            		}
	            		return
	            	}
	            	else{
	            		$(".setScore").show()
	            		window.hasStar = false
	            	}

	            }
	        },'json')

		}()
	}


	//评分
	// $.ajax({ 
	// 	url: "",
	// 	success: function(data){
	// 		if(success){
				// 给 infoBox 中 name = name/tel/num 的 span 赋值，并设置相应的评分等级，有几级就给几颗星加active类名
	// 		}				
	// 	}
	// });	
}

function bindEvent(){
	window.score = 0
	//打分按钮
    $('#beforeScore .star').click(function(){
    	
    	if(window.hasStar) return false;
    	$("#beforeScore p:last span.active").removeClass('active');
		var scoreLevel = $(this).index();
		for(var i=1;i<=scoreLevel;i++){
			$("#beforeScore p:last span").eq(i).addClass('active');
		}
		window.score = scoreLevel
    	return false

    })

    window.hasStar = true
    //打分按钮
    $(".setScore").click(function(){
		if(window.score == 0) return false;
		if(window.hasStar) return false;
    	if(window.isAjax) return false;
    	var scoreLevel = $(this).index();

    	window.isAjax = true
        $.post('/api/hzstar', {
        	'fromuserid':fromUserId,
        	'touserid':toUserId,
        	'score':window.score
        }, function(d){
        	window.isAjax = false
            if(d.error == 1){
                return alert(d.data)
            }
            else{
            	$("#scoreModal").show();
            }
        },'json')

	});


    //打分成功确定按钮
    $(".scoreBtn").click(function(){
		$("#scoreModal").hide();
		location.href = location.href	
	});


}

// function setScore(scoreLevel){
// 	$("#beforeScore").hide();
// 	for(var i=1;i<=scoreLevel;i++){
// 		$("#afterScore p:last span").eq(i).addClass('active');
// 	}
// 	$("#afterScore").show();
// }

$(window).resize(initWrapperSize);

function initWrapperSize(){
	var windowWidth = $(window).width();
	var windowHeight = $(window).height();
	if(windowWidth<windowHeight){
		if(windowWidth/1616*2495>windowHeight){
			$(".wrapper").css({
				"width":windowHeight/2495*1616,
				"height":windowHeight,
				"background-size":windowHeight/2495*1616 + "px," + windowHeight + "px"
			});			
		} else {
			$(".wrapper").css({
				"width":windowWidth,
				"height":windowWidth/1616*2495,
				"background-size":windowWidth + "px," + windowWidth/1616*2495 + "px"
			});
		}
	} else {
		$(".wrapper").css({
			"width":windowWidth,
			"height":windowWidth/1616*2495,
			"background-size":windowWidth + "px," + windowWidth/1616*2495 + "px"
		});
	}
	$("#infoBox").css("top",293/2495*$(".wrapper").height());

	initCardWrapperSize();
}

function initCardWrapperSize(){
	var infoWidth = $("#infoBox").width();
	var infoHeight = $("#infoBox").height();
	$(".hasScore span").css({
		"width":infoWidth*(100/1494),
		"height":infoHeight*(96/721),
		"background-size":infoWidth*(100/1494) + "px," + infoHeight*(96/721) + "px"
	});
	$(".star").css({
		"width":infoWidth*(162/1494),
		"height":infoHeight*(156/721),
		"background-size":infoWidth*(162/1494) + "px," + infoHeight*(156/721) + "px"
	});
	var dialogWidth = $(".wrapper").width()*(1122/1616);
	var dialogHeight = $(".wrapper").height()*(642/2495);
	$(".scoreDialog").css({
		"width":dialogWidth,
		"height":dialogHeight,
		"background-size":dialogWidth + "px," + dialogHeight + "px"
	});
	$("#gameStart").css({"top":1035/2495*$(".wrapper").height(),"right":54/1616*$(".wrapper").width()});
	$("#gameStart").css("background-size",$("#gameStart").width()+"px," + $("#gameStart").height() +"px");
}

</script>






<!-- <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
<script src="/api/hz/jsconfig?url=<%= jsurl %>" type="text/javascript"></script>
<script type="text/javascript">


$(function(){



    //部署上生产环境，把alert去掉

	if(window.jsticket_error=='1'){
		//alert('微信jsdk config加载出错')
		//alert(window.jsconfig)
	}
	if(window.jsticket_error=='0'){
			

			wx.config(window.jsconfig);
			wx.ready(function(){


			    wx.onMenuShareTimeline({
				   	title: '诚邀您参与2015年合众人寿客服节抽奖活动', // 分享标题
					desc: '2015年合众人寿客服节开幕，欢迎您的参与，我的服务好不好，评分说了算，您还可以抽奖哟~', // 分享描述
				    link: 'http://hz.xy-tang.com/active/<%= appEname%>?ename=<%= activeObj.activeObj.ename%>&touserid=<%= toUserId %>', // 分享链接
				    imgUrl: 'http://piccvote.qiniudn.com/lottery/imgs/200200.jpg', // 分享图标
				    trigger:function(){
				    	
				    },
				    complete:function(){
				    	if(isMyPage){
				    		_hmt.push(['_trackEvent', 'timeline_ywy', 'share']);
				    	}
				    	else{
				    		_hmt.push(['_trackEvent', 'timeline_kh', 'share']);
				    	}
				    	
				    },
				    success: function () { 
				        // 用户确认分享后执行的回调函数
				        
				    },
				    cancel: function () { 
				        // 用户取消分享后执行的回调函数  
				    }
				});

				wx.onMenuShareAppMessage({
					title: '诚邀您参与2015年合众人寿客服节抽奖活动', // 分享标题
					desc: '2015年合众人寿客服节开幕，欢迎您的参与，我的服务好不好，评分说了算，您还可以抽奖哟~', // 分享描述
				    link: 'http://hz.xy-tang.com/active/<%= appEname%>?ename=<%= activeObj.activeObj.ename%>&touserid=<%= toUserId %>', // 分享链接
				    imgUrl: 'http://piccvote.qiniudn.com/lottery/imgs/200200.jpg', // 分享图标
				    type: 'link', // 分享类型,music、video或link，不填默认为link
				    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
				    trigger:function(){
				    	
				    },
				    complete:function(){
				    	if(isMyPage){
				    		_hmt.push(['_trackEvent', 'friend_ywy', 'share']);
				    	}
				    	else{
				    		_hmt.push(['_trackEvent', 'friend_kh', 'share']);
				    	}
				    },
				    success: function () { 
				        
				    },
				    cancel: function () { 
				        
				    }
				});

			});
			wx.error(function(res){ });
		}
})

</script> 
 -->





<div style="display:none">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?748c25c2ece0745b163b7030b4721cc1";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>


</div>  
</body>
</html>





